/**
 * @file
 * Styles for uc_attribute module.
 */
.options {
  display: inline;
}

table.product_attributes tr.draggable .form-item {
  display: inline;
  white-space: normal;
}

#option-key td:first-child {
  width: 26%;
}

.combinations td:first-child,
.combinations td:first-child + td {
  width: 12%;
}
