/* $Id$ */
body {
  background: #EEE;	
}


#site-header, #internal-nav {
  margin-bottom: 20px;
  margin-top: 0;
}
#branding img {
  vertical-align: top;	
}
#site-name {
	font-size: 42px;
	font-weight: normal;
	font-family: Georgia, serif;
	padding: 0;
	margin: 0;
  display: inline;
  letter-spacing: -0.09em;
  line-height: 85px;
}
#site-name a,
#site-name a:hover,
#site-name a:visited {
	margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
}
#site-menu {
  text-align: right;
}
#slogan, #bcrumb {
  
}
#search-box {
  text-align: right;	
}
#search-box label, #search-box .form-submit {
  display: none;	
}
#search-box .form-text {
  font-size: 16px;
  padding: 1px 3px;
}
.breadcrumb {
	font-size: 1.2em;
  padding: 0;	
}
#slogan {
  font-size: 18px;
  font-family: Georgia;
}
#main {
  margin-top: 20px;
  margin-bottom: 20px;
}

.geshifilter{
  margin: 0;	
}
.block p {
  margin: 0;	
}
.geshifilter{
  padding: 10px;
  line-height: 1.2em;
  font-size: 9px;
}
#mission {
  padding: 20px;
  font-style: italic;
  font-size: 12px;
  margin-bottom: 20px;  
}
.sidebar .block {
  margin-bottom: 20px;	
}
.sidebar ul {
  margin: 0 0 0 15px;
  padding: 0;
}
.sidebar ul li {
  list-style-position: outside;
  margin: 0;
} 

.node {
	padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #38322B;	
}
.block .content {
  padding: 0;	
}
.block code, .block .geshifilter{
  margin: 0;	
}
/**
 * Generic elements.
 */
.messages {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
  background-color: #fff;
  border: 1px solid #b8d3e5;
}
.help {
	font-size: 0.9em;
	padding: 10px;
  background-color: #fff;
  border: 1px solid #b8d3e5;
  margin-bottom: 10px;
  margin-top: 10px;
}
.preview {
  background-color: #fcfce8;
  border: 1px solid #e5e58f;
}

div.status {
  color: #33a333;
  border-color: #c7f2c8;
}

div.error, tr.error {
  color: #a30000;
  background-color: #FFCCCC;
}

.form-item input.error, .form-item textarea.error {
  border: 1px solid #c52020;
  color: #363636;
}


/********/
/* TABS */
/********/

/* styling for node tabs (e.g., View, Edit) */
#content-tabs {
	padding: 10px;
  background-color: #fff;
  border: 1px solid #b8d3e5;
	display: block;;
  margin: 0 0 20px 0;
  font-family: Georgia, serif;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  margin: 0;
  padding: 0 10px 0 0;
  border: none;
}

#content-tabs ul.secondary {
  margin-top: 5px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  background: transparent;
  border-style: none;
  display: inline;
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 0.9em;
  line-height: 1.2em;
  font-weight: normal;
  margin: 0;
  padding: 0 0 6px 0;
  text-decoration: none;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  color: #000;
  font-size: 0.9em;
  line-height: 1.1em;
}

#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {
  font-size: 1em;
  border-bottom: 2px solid #000;
  color: #000;
  font-weight: bold;
  padding-bottom: 2px;
}

#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
  border-bottom: 2px solid #000;
  color: #000;
  font-weight: bold;
  padding-bottom: 2px;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.secondary li a:hover {
  border-bottom: 2px solid #999;
  color: #888;
  padding-bottom: 2px;
}
/**********/
/* PAGERS */
/**********/
#main-wrapper .item-list .pager {
  clear: both;
  margin: 0 0 20px;
  text-align: center;
  padding: 0;
  font-family: Helvetica, Verdana, sans-serif;
}

#preface-wrapper .item-list .pager li,
#main-wrapper .item-list .pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 2px;
}

#main-wrapper .item-list .pager a.active {
  color: #000;
  font-size: 0.8em;
  font-weight: bold;
  padding: 4px;
  text-decoration: none; 
}

#main-wrapper .pager li.pager-current {
  background-color: #D9DBCD;
  border: 1px solid #38322B;
  color: #000;
  font-size: 1em;
  margin: 0 2px;
  padding: 6px;
}
#main-wrapper .pager li.pager-ellipsis {
  display: none;	
}
#main-wrapper .pager-first,
#main-wrapper .pager-next,
#main-wrapper .pager-previous,
#main-wrapper .pager-item,
#main-wrapper .pager-last {
  background-color:#FDFFEF;
  border: 1px solid #594F36;
  margin: 0 2px;
  padding: 4px;
}

#main-wrapper .pager-first:hover,
#main-wrapper .pager-next:hover,
#main-wrapper .pager-previous:hover,
#main-wrapper .pager-item:hover,
#main-wrapper .pager-previous:hover,
#main-wrapper .pager-last:hover {
  background-color: #EAD885;
}

.description {
	color: #594F36;
  font-size: 0.9em;
  line-height: 1em;
  padding: 10px;
}
.admin-panel {
  padding: 0;
}
.admin .body {
  padding: 0;
}

#footer-message {
  font-size: 0.8em;
  color: #594F36;
  margin: 5px 0 0 0;
}
#footer-message p {
  margin: 0;	
}
fieldset {
  border: 1px solid #EAD885;
  margin: 15px 0;
  padding: 10px;
}

fieldset.collapsed {

}

fieldset legend {
  font-weight: bold;
}

fieldset.collapsible legend a {
  font-weight: bold;
}



fieldset .form-text {
  width: 100%;
}