#site-header {
  
}
#site-menu {
  
}
#header-first, #header-last {
	margin-top: 10px;
}
#internal-nav {
  margin-top: 10px;
  margin-bottom: 10px;
}
#slogan-bcrumb {
}
div.preface, div.postscript, #content-top, #content-bottom, #footer-first, #footer-last {
  background: #EEE;
  min-height: 90px;
}
#footer-first, #footer-last {
  margin-top: 20px;	
}
#mission {
  background: #DDD;
}
#sidebar-first, #sidebar-last {
  background: #CCC;
}