/* $Id$ */
/**
 * Omega, for Drupal 6.x
 * Jake Strawn - http://himerus.com
 * Project Page - http://drupal.org/project/omega
 * 
 * The defaults.css file is the default set of default styles
 * normally available with the Omega base theme.
 * All of these styles are easily overwritten, but here to give 
 * a bit more "sexy" right out of the box.
 */
/** ################# Custom CSS Styles ####################### */
#page {
	
}

#site-header {
  margin-bottom: 20px;
  margin-top: 0;
}

#internal-nav {
	margin-bottom: 20px;
  margin-top: 0;
}

#slogan-bcrumb {
  
}

#branding {
  
}

#site-menu {
	
}

#header-first {
	margin-top: 10px;
}

#header-last {
	margin-top: 10px;
}

#preface-wrapper {
	margin-bottom: 20px;
}

#preface-first {
	
}

#preface-middle {
  
}

#preface-last {
	
}

#main-wrapper {
	
}

#mission {
  background: #DDD;
}

#content-top {
	margin-bottom: 20px;
}

#content-tabs {
	
}

#main-content {
	margin-bottom: 20px;
}

#content-bottom {
	margin-bottom: 20px;
}

#sidebar-first {
	
}

#sidebar-last {
	
}

#postscript-wrapper {
  margin-bottom: 20px;
}

#postscript-one {
  
}

#postscript-two {
  
}

#postscript-three {
  
}

#postscript-four {
  
}

#footer-first {
  margin-bottom: 20px;
}

#footer-last {
  
}

#footer-first, #footer-last {
	
}