.wsuser-search-result div {
    display: inline-block;
    vertical-align: top;
}

.wsuser-search-result div.wssearch-description {
    width: 227px;
}
.wsuser-search-result div.wssearch-about {
    width: 453px;
}
