/***
 * Footer Styles
 */

#footer {
  margin-top: 40px;
  background: #192c42 url(../../img/footer-top-border.png) no-repeat top;
  padding: 30px 0px 20px 20px;
  color: #FFF;
  font-weight: normal;
  position: relative;
}

#footer h2 {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 26px;
  font-weight: normal;
}

/* Menu */

#footer .block-menu ul {
  margin-top:30px;
  padding: 0px;
}

#footer .block-menu li.first {
  padding-left: 0;
}
#footer .block-menu li {
  display: inline;
  padding: 0 20px;
  border-right: 1px solid #8b9eba;
  font-family: 'Asap', Arial, sans-serif;
}

#footer .block-menu li.last {
  border:none;
}

#footer .block-menu a {
  color: #8b9eba;
  text-decoration: none;
}
#footer .block-menu a:hover {
  color: #FFF;
  text-decoration: underline;
}
#footer ul.social {
  position: absolute;
  top: 30px;
  right: 30px;
  margin: 0;
  padding: 0;
}
#footer ul.social li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer ul.social li a {
  display: inline-block;
  background: url(../../img/fb.png) left 6px no-repeat;
  width: 50px;
  height: 41px;
}
#footer ul.social li a.social_tw {
  background-image: url(../../img/tw.png);
}
#footer  ul.social li a.social_rs {
  background-image: url(../../img/rs.png);
}