.wsmap-infowindow-picture {
    float: left;
}
.wsmap-infowindow-picture img {
    margin: 6px;
    border: 1px black;
}
.wsmap-infowindow-host {
    clear: both;
}
.wsmap-infowindow {
    /* overflow: auto; */
}
.wsmap-numhosts {
    font-weight: bold;
}

#wsmap-bottom {
    font-size: xx-small;
}
.wsmap-credits {
    text-align: right;
    display: inline-block;
    float: right;
}
#wsmap-load-status {
    display: inline-block;
    width: 50%;
}
#wsmap_map {
    width:100%;
    height:597px
}
