/**
 * @file
 * Style Sheets for the Workflow_Admin_UI module.
 */
 
#workflow_admin_ui_states .state-name input {
  margin-right: 2em; /* Make room for dragging handle. */
}

#workflow_admin_ui_states .state-status {
  text-align: center;
}

#workflow_admin_ui_states .state-count {
  text-align: right;
}

#workflow_admin_ui_states th.state-ops {
}
