/**
 * @file
 * Styles for uc_store module.
 */

.uc-price {
  white-space: nowrap;
}

.uc-inline-form .form-item {
  float: left;
  margin-right: 1em;
  padding-top: 5px;
}

#store-footer {
  clear: both;
  font-size: x-small;
  text-align: center;
  width: 100%;
}

.uc-default-submit {
  height: 0;
  left: -9999px;
  position: absolute;
  top: -9999px;
  width: 0;
}

.uc-store-status td {
  vertical-align: top;
}

.uc-store-status td.title {
  font-weight: bold;
  white-space: nowrap;
}

.uc-store-status td.message {
  width: 100%;
}

/**
 * CSS rules for address fields.
 */
.uc-store-address-field .form-item {
  clear: left;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px;
}

.uc-store-address-field .form-item label {
  float: left;
  padding-right: 4px;
  text-align: right;
  width: 15em;
}

.vertical-tabs .uc-store-address-field .form-item input {
  width: auto;
}

.vertical-tabs .form-type-textfield input {
  width: auto;
}

.ubercart-throbber {
  background-image: url(images/throbber.gif);
  background-position: 100% -20px;
  background-repeat: no-repeat;
}

/**
 * Icon support for admin (http://drupal.org/project/admin).
 */
.path-admin-store-orders span.icon {
  background: transparent url('images/menu_orders.gif') no-repeat !important;
}
.path-admin-store-customers span.icon {
  background: transparent url('images/menu_customers.gif') no-repeat !important;
}
.path-admin-store-products span.icon {
  background: transparent url('images/menu_products.gif') no-repeat !important;
}
.path-admin-store-settings span.icon {
  background: transparent url('images/menu_store_settings.gif') no-repeat !important;
}
.path-admin-store-reports span.icon {
  background: transparent url('images/menu_reports.gif') no-repeat !important;
}

/**
 * Vertical tabs missing legend workaround. To be removed when
 * http://drupal.org/node/1015798 gets into Drupal core.
 */
.vertical-tabs fieldset fieldset legend {
  display: inline-block;
}

div.vertical-tabs .vertical-tabs-panes fieldset fieldset {
  border: 1px solid #ccc;
  margin: 1em 0;
  padding: 2.5em 0 0;
}

div.vertical-tabs .vertical-tabs-panes fieldset fieldset legend {
  display: inline-block;
}
