/**
 * @file
 * Styles for uc_store module.
 */

.uc-inline-form .form-item {
  float: right;
  margin-right: auto;
  margin-left: 1em;
}

.uc-default-submit {
  left: auto;
  right: -9999px;
}

/**
 * CSS rules for address fields.
 */
.uc-store-address-field .form-item {
  clear: right;
}

.uc-store-address-field .form-item label {
  float: right;
  padding-right: inherit;
  padding-left: 4px;
  text-align: left;
}
