/***
 * Warm Showers Zen Base Styles
 *
 * Generally includes classes for overall structure and design.
 *
 * This theme was developed on Zen 6.x-2.1 using the tried and true
 * zen layout system by JohnAlbin on Drupal.org.
 *
 * All custom CSS was written by Randy Fay, Chris Russo, and Josh Miller in the
 * Summer of 2012.
 *
 * ## Colors:
 * Page BKG = #304767
 * Light Light Green = #84C566
 * Light Green = #40be59
 * Green = #019e3c
 * Dark Green = #007e1d
 * Blue = #266acf
 * Dark Blue = #192c42
 * Dark Gray = #424242
 * Orange = #f0af00
 * Red = #ff4800
 *
 * ## Fonts:
 * font-family: 'Asap', Arial, sans-serif; <-- For Everything
 * font-family: 'Sue Ellen Francisco', cursive; <-- For Special Cases
 */

/* Importing Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco|Asap:400,700,400italic,700italic);

/***
 * Body and Structure
 * See also zen.css for layout styles
 */
body {
  background: #304767;
  color: #FFF;
}
#content { background: #FFF; }
#content .section { margin: 20px; }
#main {
  background: #FFF url(../img/content_rightsidebar-bkg.png) top left repeat-y;
  margin-top: 32px;
}
#header { background: none; }
#header-style {
  background: #266acf url(../img/header-bkg.jpg) 85% top no-repeat;
  min-width: 1024px;
}
#header-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
#header .section {
  height: 294px;
  position: relative;
}

/* Front Page */
.front #content-area {
  display: none;
}
.front #main {
  background: none;
}

/***
 * Fonts
 */
.sidebar, .region-highlight,
#header, #footer, #content {
  color: #304767;
  font-family: 'Asap', Arial, sans-serif;
  font-size: 14px;
}
.sidebar a, #content a {
  color: #019e3c;
  font-style: italic;
}
.sidebar a:visited, #content a:visited { color: #007e1d; }
.sidebar a:hover, #content a:hover { color: #40be59; }

/***
 * Misc
 */
#content-area .picture {
  float: left;
  margin-right: 15px;
}