@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);

/* Base Styles */
body {
  background: #304767;
  color: #FFF;
}
.sidebar,
#header,
#footer,
#content {
  color: #304767;
  background: #FFF;
  font-family: 'Asap', sans-serif;
  font-size: 14px;
}
.sidebar a,
#content a {
    color: #019e3c;
    font-style: italic;
}
.sidebar a:visited,
#content a:visited { 
  color: #007e1d;
}
.sidebar a:hover,
#content a:hover {  
  color: #40be59;
}

/* Header */
#header > .section {
  height: 294px;
  position: relative;
}
body.logged-in #header > .section {
  height: 161px;
}
#header #logo {
  position: absolute;
  bottom: -20px;
  left: -20px;
}