@import url(http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco|Asap:400,700,400italic,700italic);

/* Base Styles */
body {
  background: #304767;
  color: #FFF;
}
.sidebar,
#header,
#footer,
#content {
  color: #304767;
  background: #FFF;
  font-family: 'Asap', Arial, sans-serif;
  font-size: 14px;
}
.sidebar a,
#content a {
    color: #019e3c;
    font-style: italic;
}
.sidebar a:visited,
#content a:visited { 
  color: #007e1d;
}
.sidebar a:hover,
#content a:hover {  
  color: #40be59;
}

/* Header */
#header { background: none; }
#header-style {
  background: #000;
}
#header-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
#header > .section {
  height: 294px;
  position: relative;
}
body.logged-in #header > .section {
  height: 161px;
}
body.logged-in #header #logo {
  position: absolute;
  bottom: -20px;
  left: -20px;
}
#header #logotitle {
  position: absolute;
  top: 40px;
  left: -28px;
  width: 444px;
  height: 169px;
  border: 1px solid red;
}
#header #logo {
  position: absolute;
  top: 0;
  left: 0;
}
h1#site-name,
div#site-name {  /* Sitename is actually a part of the logo */
  position: absolute;
  top: 17px;
  left: 72px;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 70px;
}

h1#site-name,
div#site-name,
h1#site-name strong,
div#site-name strong { /* Remove Bold, the strong is to help Google know that it is important, not bolded :) */
  font-weight: normal;
}
#site-name,
#site-name a,
#site-name a:link,
#site-name a:visited { /* Override a style for color, etc. */
  color: #009835;
  text-decoration: none;
}
#site-slogan {
  position: absolute;
  top: 101px;
  left: 78px;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 26px;
  color: #808080;
}