@import url(http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco|Asap:400,700,400italic,700italic);

/* Base Styles */
body {
  background: #304767; /* this is the color in the PSD? */
  color: #FFF;
}
.sidebar,
#header,
#footer,
.region-highlight,
#content {
  color: #304767;
  font-family: 'Asap', Arial, sans-serif;
  font-size: 14px;
}
#content {
  background: #FFF;
}
#content .section {
  margin: 20px;
}
#main {
  background: #FFF url(../img/content_rightsidebar-bkg.png) top left repeat-y; /* Should work on epxanding theme. */
  margin-top: 32px;
}
.sidebar a,
#content a {
  color: #019e3c;
  font-style: italic;
}
.sidebar a:visited,
#content a:visited { 
  color: #007e1d;
}
.sidebar a:hover,
#content a:hover {  
  color: #40be59;
}

/* Header */
#header { background: none; }
#header-style {
  background: #266acf url(../img/header-bkg.jpg) 85% top no-repeat;
}
#header-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
#header .section {
  height: 294px;
  position: relative;
}
#header #logotitle {
  position: absolute;
  top: 40px;
  left: -28px;
  width: 444px;
  height: 169px;
}
#header #logo {
  position: absolute;
  top: 0;
  left: 0;
}
h1#site-name,
div#site-name {  /* Sitename is actually a part of the logo */
  position: absolute;
  top: 12px;
  left: 72px;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 70px;
}

h1#site-name,
div#site-name,
h1#site-name strong,
div#site-name strong { /* Remove Bold, the strong is to help Google know that it is important, not bolded :) */
  font-weight: normal;
}
#site-name,
#site-name a,
#site-name a:link,
#site-name a:visited { /* Override a style for color, etc. */
  color: #009835;
  text-decoration: none;
}
#site-slogan {
  position: absolute;
  top: 89px;
  left: 78px;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 26px;
  color: #808080;
}
#header .signpost {
  position: absolute;
  bottom: -34px;
  left: -4px;
  z-index: 999;
	width: 250px;
	height: 110px;
	outline: 1px solid red;
}
#header .block { /* cool layout bug */
  margin: 0;
}

/* Header, Logged In Tweaks */

body.logged-in #header-style {
	background: #266acf url(../img/header-bkg-loggedin.jpg) 125% top no-repeat;
}
@media screen and (min-width: 1300px) {
	body.logged-in #header-style {
		background: #266acf url(../img/header-bkg-loggedin.jpg) 85% top no-repeat;
	}
}
body.logged-in #header #logotitle {
  top: 19px;
  left: -27px;
  z-index: 999;
}
body.logged-in #header #logotitle img { /* small tweak to logo when logged in */
  height: 155px;
  width: auto;
}
body.logged-in #header .signpost {
  display:none;
}
body.logged-in #header .section {
  height: 161px;
}
body.logged-in #header #site-slogan {
  font-size: 25px;
}

/* Blocks */
.region-sidebar-first .block {
  border: 2px solid #FFF;
  background: #c5c5c5;
  color: #304767
}
.region-sidebar-first .block .block-wrapper {
  margin-right: 12px;
  padding: 10px;
  background: url(../img/sidebar_first-bkg.png) top right repeat-y;
}
.region-sidebar-first .block h2.title {
  font: normal 42px/52px 'Sue Ellen Francisco', cursive;
  color: #007E1D;
  text-shadow: #FFF 0 1px 5px;
}
.region-sidebar-second {
  padding-top: 20px;
}
.region-sidebar-second .block {
  background: #192c42;
  color: #9fcbff
}
.region-sidebar-second .block .block-wrapper {
  margin-left: 14px;
  padding: 10px 14px;
  background: url(../img/sidebar_second-bkg.png) top left repeat-y;
}
.region-sidebar-second .section {
	margin: 0;
}
.region-sidebar-second .block h2.title {
  color: #84c566;
  font-weight:normal;
  font-size: 19px;
  font-weight: normal;
  margin: 4px 0;
}

/* Login Block */
.region-sidebar-second .block-user label {
  font-weight: normal;
}
.region-sidebar-second .block-user a.forgot-pass {
  color: #6b7e93;
  text-decoration: none;
  font-style:normal;
  font-size: 12px;
}
.region-sidebar-second .block-user input#edit-submit {
  color: #9be76c;
  border: 1px solid #9be76c;
  background: none;
  margin: 0;
  padding: 4px 24px;
  float: right;
  font-size: 12px;
}
.region-sidebar-second .block-user input#edit-pass,
.region-sidebar-second .block-user input#edit-name {
  width: 192px;
}

/* Primary Navigation */
#navigation .menu li.leaf {
	list-style: none;
	list-style-image: none;
}
#navigation .menu a {
  display: block;
  height: 32px;
  padding: 0 20px;
  color: #d0ffff;
  font-size: 16px;
  border-bottom: 5px solid transparent;
  text-decoration: none;
}
#navigation .menu li.active-trail a {
  border-bottom: 5px solid #addc79;
  color: #FFF;
}
.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second {
  margin-top: 0;
}
#navigation { position: relative; }
#navigation .section {
  position: absolute;
  top: -69px;
  left: 280px;
}
body.logged-in #navigation .section { /* Slightly different when logged-in */
  left: 368px;
}

/* Highlight Area */
body.with-highlight .region-highlight {
  height: 192px;
}
body.with-highlight #navigation .section {
  top: -260px;
}
.region-highlight .block {
  width: 226px;
  height: 175px;
  float: left;
  margin: 30px 0 0 15px;
  overflow: hidden;
  background: #d1d1d1;
  color: #545454;
}
.region-highlight .first { margin-left: 0; }
.region-highlight div.block:last-of-type { width: 236px; /* 226px + 10px */ }
.region-highlight .block .block-wrapper { padding: 15px; }
.region-highlight .block h2.title {
  font-weight: normal;
  color: #363636;
  font-size: 16px;
}
.region-highlight #block-wsuser-2 #welcome-text {
  color: #2570cc;
  display: block;
}
.region-highlight #block-wsuser-2 .name a {
  display: block;
  width: 100%;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
.region-highlight #block-wsuser-2 ul.links li {
  padding: 0;
}
.region-highlight #block-wsuser-2 ul.links li a {
  display: inline-block;
  padding: 6px 12px;
  color: #000;
  text-decoration: none;
  border: 1px solid #636363;
  margin-bottom: 12px;
}
.region-highlight #block-wsuser-2 ul.links li.first a {
  margin-right: 7px;
}

/* User Auto Complete Block */
.region-highlight #block-wsuser-wsuser_member_recommendation textarea {
	margin: 0;
	font-size: 10px;
  font-family: 'Asap', Arial, sans-serif;
	line-height: 14px;
}
.region-highlight #block-wsuser-wsuser_member_recommendation #recommend_left_col {
	float: left;
}
.region-highlight #block-wsuser-wsuser_member_recommendation #recommend_right_col {
	float: right;
	margin-left: 4px;
}
.region-highlight #block-wsuser-wsuser_member_recommendation #edit-submit {
  background: #093;
  color: #FFF;
  border: 0;
  text-transform: uppercase;
	padding: 0;
	margin: 0;
}
.region-highlight #block-wsuser-wsuser_member_recommendation #edit-username-wrapper ul li p {
  margin: 0;
  padding: 0;
  font-size: 10px;
}
.region-highlight #block-wsuser-wsuser_member_recommendation label {
  font-weight: normal;
  font-size: 10px;
  line-height: normal;
	margin-bottom: 5px;
} 

/* Forum Block */
.region-highlight #block-views-recent_forum_topics-block_1 .item-list ul,
.region-highlight #block-views-recent_forum_topics-block_1 .item-list ul li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.region-highlight #block-views-recent_forum_topics-block_1 .item-list ul li {
  background: url('../img/dotted.png') bottom left repeat-x;
  padding: 5px 0;
}
.region-highlight #block-views-recent_forum_topics-block_1 .item-list ul li a {
  display: block;
  background: url('../img/forum_arrow.jpg') left 4px no-repeat;
  padding: 0 0 0 15px;
  font-size: 10px;
  line-height: normal;
	color: #424242;
	text-decoration: none;
}
.region-highlight #block-views-recent_forum_topics-block_1 .item-list ul li a:hover {
	color: #266acf;
}
.region-highlight #block-views-recent_forum_topics-block_1 .item-list ul li:hover {
	background-color: #dcdcdc;
}
.region-highlight #block-views-recent_forum_topics-block_1 .more-link {
	display: none;
}
.region-highlight #block-views-recent_forum_topics-block_1 #forum-title-wrapper {
	height: 41px;
}
.region-highlight #block-views-recent_forum_topics-block_1 a#create-a-post-link {
	display: block;
	float: right;
	border: 1px solid #3875d7;
	padding: 8px 10px;
	font-size: 11px;
	line-height: 11px;
	margin-top: -20px;
	margin-bottom: 8px;
	color: #266acf;
	text-decoration: none;
}
.region-highlight #block-views-recent_forum_topics-block_1 a#create-a-post-link:hover {
	background: #3875d7;
	color: #FFF;
}
/* Front Page */
.front #content-area {
  display: none;
}
.front #main {
  background: none;
}
#signup_login {
	position: absolute;
	bottom: 40px;
	left: 850px;
	z-index: 999;
	width: 100px;
	line-height: 1.2em;
}
#signup_login a {
	display:block;
	text-align: center;
	text-decoration: none;
}
#signup_login a.signup {
	color: #2f3652;
	font-size: 12px;
}
#signup_login a.login {
	color: #bef086;
	font-size: 20px;
}