
/* Styles for profile pages */
#profile-top {
    height: 160px;
    margin: 0 20px;
    position: relative;
    background: #c6edb0;
    border-right: 12px solid #e3f6d8;
}
#profile-top #profile-image {
    position:absolute;
    top: -20px;
    left: 0;
    width: 179px;
    height: 200px;
    background: #4c8bed;
}
#profile-top #name-title {
    width: 452px;
    position: absolute;
    top: 15px;
    left: 205px;
}

#profile-top #name-title ul,
#profile-top #name-title li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
}
#profile-top #name-title ul {
  margin-top: 7px;
  padding-top: 7px;
  border-top: 1px dotted #676767;
}

#profile-top #name-title li {
  display: inline-block;
  margin-right: 7px;
  padding-right: 7px;
  border-right: 1px dotted #676767;
}
#profile-top #name-title li.leaf-last {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

#profile-top #name-title,
#profile-top #name-title em,
#profile-top #name-title a {
  color: #676767;
  font-style: normal;
  text-decoration: none;
}
#profile-top #name-title a:hover {
  color: #2b9d53;
  text-decoration: underline;
}
#profile-top #name-title h3 {
    margin: 0px
}

#profile-top #profile-tabs {
    position: absolute;
    bottom: 0;
    left: 205px;
}
#profile-top #profile-tabs ul {
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}
#profile-top #profile-tabs ul li {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}
#profile-top #profile-tabs ul li a {
    display: inline-block;
    width: auto;
    padding: 5px 20px;
    background: #686d75;
    color: #FFF;
    text-decoration: none;
    font-style: normal;
    border-radius: 9px 9px 0 0;
}
#profile-top #profile-tabs ul li.active a {
    background: #FFF;
    color: #4c8bed;
}

#profile-container h1,
#profile-container h2{
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 50px;
}
#profile-container h2 {
    font-size: 40px;
}
#profile-container h3 {
    font-size: 24px;
    font-weight: normal;
    color: #000;
}

body.section-users #content .section {
    margin:0px;
}

#content {
    background-color: #304767;
}

#content .content{
    background-color: #fff;
    float: left;
    padding: 40px;
}

#host-services, #recommendations {
    float:left;
    color: green;
    padding: 0px 5px;
}

#host-services {
    width: 52%;
    padding-right: 40px;
}

#recommendations {
    width: 38%;
}

#host-services h2, #recommendations h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid green;
}
body.section-users #main {
    margin-top: 47px;
}
body.section-users #navigation .section {
    top: -124px;
}
body.section-users h1.title {
    display: none;
}
/* Hide tabs for everyone */
body.section-users .tabs {
    display: none;
}
/* Show tabs to administrators */
body.section-users.role-administrator2 .tabs {
    display: block;
}
body.section-users.role-administrator .section > .tabs {
    margin: 0 20px 0 199px;
}
body.section-users.role-administrator .section > .tabs ul.primary {
    background-image: none;
    background: #C6EDB0;
    border-right: 12px solid #E3F6D8;
    padding: 5px;
}
body.section-users.role-administrator #content .section > .tabs ul.primary li a {
    font-weight: normal;
    font-style: normal;
    color: #000;
}