/* Russo Styles -- to be merged */

/* Footer Styles */
#footer {
    font-family: 'Sue Ellen Francisco', cursive;
    margin-top: 40px;
    background: #192c42 url(../img/footer-top-border.png) no-repeat top;
    padding: 30px 0px 20px 20px;
    color: #FFF;
}

#footer h2 {
    font-size: 40px;
}

/* Menu */

#footer ul {
    margin-top:30px;
    padding: 0px;
}

#footer li {
    display: inline;
    padding: 0px 10px;
    border-right: 1px solid;
    font-family: sans-serif;
}

#footer li.last {
    border:none;
}

#footer a {
    color: #AAA;
}


/* Message styles  */

div.status, div.warning, div.error {
    padding:0 0 0 2.5em;
    min-height:35px;
}

div.status .message, div.warning .message, div.error .message {
    min-height:35px;
    padding-left:5px;
}

div.status {
    background-color: #87c564;
    border: 1px solid #87c564;
    background-image: url(../img/info.gif);
}

div.status .message {
    color: #555555;
    background-color:#f2faf5;
}

div.warning {
    background-color: #f0af00;
    border: 1px solid #f0af00;
    background-image: url(../img/alert.gif);
}

div.warning .message {
    background-color:#fefbf2;
    color:#f0af00;
}

div.error {
    background-color: #ff4800;
    border: 1px solid #ff4800;
    background-image: url(../img/error.gif);
}

div.error .message {
    background-color: #fff6f2;
    color: #ff4800;
}

/* End message styles */

/* Begin language block styles */

div.block-locale {
    position: absolute;
    top: 0;
    right: 250px;
}

div.block-locale li {
    display: inline;
    padding: 0px 8px;
    border-right: 1px solid #FFF;
}

div.block-locale li.last {
    border: none;
}

div.block-locale ul a {
    color: #FFF;
}

div.block-locale ul a.active {
    font-weight: bold;
}

/* End language block styles */

/* Maybe this should be in with wsmap module */
#mapholder {
    width: 100%;
}

#navigation a.active {
    font-weight: bold;
}

/* Begin forum block styles */
div.block-forum ul {
    list-style-image: url('../img/forum_arrow.jpg');
}

div.block-forum ul li {
    padding-bottom: 8px;
    border-bottom: 3px dotted;
    margin-top: 5px;
}

#create-a-post-link {
    float: right;
    border: 1px solid #3875d7;
    padding: 8px;
}

#forum-title-wrapper {
    margin-bottom: 10px;
}

#create-a-post-link a {
    color: #3875d7;
}

div.block-forum a {
    text-decoration: none;
    color: #000000;
}

div.block-forum .title {
    float: left;
}

/* End forum block styles */

/* Begin welcome block styles */

#welcome-text {
    color: #3875d7;
}

#block-wsuser-wsuser_member_block .links a {
    border: 1px solid black;
    margin-top:5px;
    color: #000000;
    padding: 8px;
    line-height: 50px;
    text-decoration: none;
}

#block-wsuser-wsuser_member_block .name a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
}

/* End welcome block styles */