/* Russo Styles -- to be merged */

/* Footer Styles */
#footer {
    font-family: 'Sue Ellen Francisco', cursive;
    margin-top: 40px;
    background: #192c42 url(../img/footer-top-border.png) no-repeat top;
    padding: 30px 0px 20px 20px;
    color: #FFF;
}

#footer h2 {
    font-size: 40px;
}

/* Menu */

#footer ul {
    margin-top:30px;
    padding: 0px;
}

#footer li {
    display: inline;
    padding: 0px 10px;
    border-right: 1px solid;
    font-family: sans-serif;
}

#footer li.last {
    border:none;
}

#footer a {
    color: #AAA;
}


/* Message styles  */

div.status, div.warning, div.error {
    padding:0 0 0 2.5em;
    min-height:35px;
}

div.status .message, div.warning .message, div.error .message {
    min-height:35px;
    padding-left:5px;
}

div.status {
    background-color: #87c564;
    border: 1px solid #87c564;
}

div.status .message {
    color: #555555;
    background-color:#f2faf5;
}

div.warning {
    background-color: #f0af00;
    border: 1px solid #f0af00;
}

div.warning .message {
    background-color:#fefbf2;
    color:#f0af00;
}

div.error {
    background-color: #ff4800;
    border: 1px solid #ff4800;
}

div.error .message {
    background-color: #fff6f2;
    color: #ff4800;
}

/* End message styles */