/* HTML reset */
body{font-size:100%}
#skip-link,#page{font-size:0.875em;line-height:1.286em}
body,caption,th,td,input,textarea,select,option,legend,fieldset{font-family:Verdana, Tahoma, "DejaVu Sans", sans-serif}
pre,code{font-size:1.1em;font-family:"Courier New", "DejaVu Sans Mono", monospace}
h1{font-size:2em;line-height:1.3em;margin-top:0;margin-bottom:0.5em}
h2{font-size:1.5em;line-height:1.3em;margin-top:0.667em;margin-bottom:0.667em}
h3{font-size:1.3em;line-height:1.3em;margin-top:0.769em;margin-bottom:0.769em}
h4,h5,h6{font-size:1.1em;line-height:1.3em;margin-top:0.909em;margin-bottom:0.909em}
p,ul,ol,dl,pre,table,fieldset{margin:1em 0}
blockquote{margin:1em 2em}
ul,ol{margin-left:0;padding-left:2em}
.block ul,.item-list ul /* Drupal overrides */{margin:1em 0;padding:0 0 0 2em}
ul ul,ul ol,ol ol,ol ul,.block ul ul,.block ul ol,.block ol ol,.block ol ul,.item-list ul ul,.item-list ul ol,.item-list ol ol,.item-list ol ul{margin:0}
.item-list ul li /* Drupal override */{list-style:inherit;margin:0;padding:0}
ul{list-style-type:disc}
ul ul ul{list-style-type:square}
ol ol{list-style-type:lower-alpha}
dd{margin:0 0 0 2em;padding:0}
table{border-collapse:collapse}
th,thead th,tbody th{text-align:left;border-bottom:none;padding:0}
tbody{border-top:none}
abbr{border-bottom:1px dotted #666;cursor:help;white-space:nowrap}
abbr.created /* Date-based "abbreviations" show computer-friendly timestamps which are not human-friendly. */{border:none;cursor:auto;white-space:normal}
img{border:0}
hr{height:1px;border:1px solid #666}
fieldset{margin:1em 0;padding:0.5em}
li,ul.menu li,li.expanded,li.collapsed,li.leaf /* Drupal override */,dt,form{margin:0;padding:0}
ul ul,ul ul ul ul{list-style-type:circle}
ol,ol ol ol{list-style-type:decimal}

/* Layout Fixed */
#page-wrapper,.region-page-closure{margin-left:auto;margin-right:auto;width:960px}
.region-header{clear:both}
#main-wrapper{position:relative}
#content,.no-sidebars #content{float:left;width:960px;margin-left:0;margin-right:-960px;padding:0}
.sidebar-first #content{width:720px;margin-left:240px;margin-right:-960px}
.sidebar-second #content{width:720px;margin-left:0;margin-right:-720px}
.two-sidebars #content{width:480px;margin-left:240px;margin-right:-720px}
#content .section{margin:0;padding:0}
#navigation{float:left;width:100%;margin-left:0;margin-right:-100%;height:2.3em;overflow:hidden;padding:0}
.with-navigation #content,.with-navigation .region-sidebar-first,.with-navigation .region-sidebar-second{margin-top:2.3em}
#navigation ul /* Primary and secondary links */{text-align:left;margin:0;padding:0}
#navigation li /* A simple method to get navigation links to appear in one line. */{float:left;padding:0 10px 0 0}
.region-sidebar-first{float:left;width:240px;margin-left:0;margin-right:-240px;padding:0}
.region-sidebar-first .section{margin:0 20px 0 0;padding:0}
.region-sidebar-second{float:left;width:240px;margin-left:720px;margin-right:-960px;padding:0}
.region-sidebar-second .section{margin:0 0 0 20px;padding:0}
#header,#content,#navigation,.region-sidebar-first,.region-sidebar-second,#footer,.region-page-closure{overflow:visible;word-wrap:break-word}

/* Tabs */
div.tabs{margin:0 0 5px}
ul.primary{list-style:none;white-space:nowrap;line-height:normal;background:url(../images/tab-bar.png) repeat-x left bottom;border-width:0;margin:0;padding:0 0 0 10px}
ul.primary li{float:left;margin:0;padding:0}
ul.primary li a{display:block;height:24px;font-weight:700;text-decoration:none;color:#777;background-color:transparent;background:url(../images/tab-left.png) no-repeat left -38px;border-width:0;margin:0;padding:0 0 0 5px}
ul.primary li a .tab{display:block;height:20px;line-height:20px;background:url(../images/tab-right.png) no-repeat right -38px;border-width:0;margin:0;padding:4px 13px 0 6px}
ul.primary li a:hover,ul.primary li a:focus{background-color:transparent;background:url(../images/tab-left.png) no-repeat left -76px;border-width:0}
ul.primary li a:hover .tab,ul.primary li a:focus .tab{background:url(../images/tab-right.png) no-repeat right -76px}
ul.primary li.active a,ul.primary li.active a:hover,ul.primary li.active a:focus{color:#000;background-color:transparent;background:url(../images/tab-left.png) no-repeat left 0;border-width:0}
ul.primary li.active a .tab,ul.primary li.active a:hover .tab,ul.primary li.active a:focus .tab{background:url(../images/tab-right.png) no-repeat right 0}
ul.secondary{border-bottom:1px solid silver;list-style:none;white-space:nowrap;background:url(../images/tab-secondary-bg.png) repeat-x left bottom;margin:0;padding:0 0 0 5px}
ul.secondary li{float:left;border-right:none;margin:0 5px 0 0;padding:5px 0}
ul.secondary a{display:block;height:24px;border:1px solid silver;text-decoration:none;color:#777;background:url(../images/tab-secondary.png) repeat-x left -56px;margin:0;padding:0}
ul.secondary a .tab{display:block;height:18px;line-height:18px;margin:0;padding:3px 8px}
ul.secondary a:hover,ul.secondary a:focus{background:url(../images/tab-secondary.png) repeat-x left bottom}
ul.secondary a.active,ul.secondary a.active:hover,ul.secondary a.active:focus{border:1px solid silver;color:#000;background:url(../images/tab-secondary.png) repeat-x left top}

/* Messages */
div.messages,div.status,div.warning,div.error /* Important messages (status,warning,and error) for the user */{min-height:21px;border:2px solid #ff7;color:#000;background-color:#ffc;background-image:url(../images/messages-status.png);background-repeat:no-repeat;background-position:5px 5px;margin:0 1em 5px;padding:5px 5px 5px 35px}
div.warning /* Medium priority messages */{background-image:url(../images/messages-warning.png);border-color:#fc0}
div.warning,tr.warning{color:#000;background-color:#ffc}
div.error /* High priority messages. See also the .error declaration in pages.css. */{background-image:url(../images/messages-error.png);border-color:#c00}
div.error,tr.error{color:#900;background-color:#fee}
div.messages ul{margin-top:0;margin-bottom:0}

/* Pages */
body{margin:0;padding:0}
#skip-link a,#skip-link a:visited{position:absolute;display:block;left:0;top:-500px;width:1px;height:1px;overflow:hidden;text-align:center;background-color:#666;color:#fff}
#skip-link a:hover,#skip-link a:active,#skip-link a:focus{position:static;width:100%;height:auto;padding:2px 0 3px}
#logo /* Wrapping link for logo */{float:left;margin:0;padding:0}
#logo img{vertical-align:bottom}
h1#site-name,div#site-name /* The name of the website */{font-size:2em;line-height:1.3em;margin:0}
#site-name a:link,#site-name a:visited{color:#000;text-decoration:none}
#site-name a:hover,#site-name a:focus{text-decoration:underline}
.breadcrumb /* The path to the current page in the form of a list of links */{padding-bottom:0}
h1.title,/* The title of the page */
h2.title,/* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */{margin:0}
.more-help-link /* Link to more help */{font-size:0.85em;text-align:right}
ul.links /* List of links */{margin:1em 0;padding:0}
ul.links.inline{display:inline;margin:0}
ul.links li{display:inline;list-style-type:none;padding:0 0.5em}
.pager /* A list of page numbers when more than 1 page of content is available */{clear:both;text-align:center;margin:1em 0}
.pager a,.pager strong.pager-current /* Each page number in the pager list */{padding:0.5em}
.more-link /* Aggregator,blog,and forum more link */{text-align:right}
.element-hidden{display:none}
.help /* Help text on a page */,.feed-icons /* The links to the RSS or Atom feeds for the current list of content */{margin:1em 0}

/* Hide elements visually, but keep them available for screen-readers.*/
.element-invisible{position:absolute !important;clip:rect(1px, 1px, 1px, 1px)}

/* Clearfix */
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

/* Block Editing */
div.block.with-block-editing{position:relative}
div.block.with-block-editing div.edit{display:none;position:absolute;right:0;top:0;z-index:40;border:1px solid #eee;font-size:0.75em;background-color:#fff;padding:0 2px}
div.block.with-block-editing:hover div.edit{display:block}

/* Blocks */
.block /* Block wrapper */ { margin-bottom: 1em}

/* Nodes */
.node-unpublished div.unpublished,.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */{height:0;overflow:visible;color:#d8d8d8;font-size:75px;line-height:1;font-family:Impact, "Arial Narrow", Helvetica, sans-serif;font-weight:700;text-transform:uppercase;text-align:center;word-wrap:break-word}
.marker /* "New" or "Updated" marker for content that is new or updated for the current user */{color:#c00}
.node.node-unpublished .picture,.comment.comment-unpublished .picture{position:relative}

/* Comments */
#comments /* Wrapper for the list of comments and its title */{margin:1em 0}

/* Forms */
.form-item input.error,.form-item textarea.error,.form-item select.error /* Highlight the form elements that caused a form submission error */{border:2px solid #c00}
.form-item label /* The label for a form element */{display:block;font-weight:700}
.form-item label.option /* The label for a radio button or checkbox */{display:inline;font-weight:400}
.form-required /* The part of the label that indicates a required field */{color:#c00}
.form-item .description /* The descriptive help text (separate from the label) */{font-size:0.85em}
.form-checkboxes .form-item,.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */{margin:0.4em 0}
.container-inline div,.container-inline label /* Inline labels and form divs */{display:inline}
.tips /* Tips for Drupal's input formats */ {\A }\A \A \A /*\A  * Search (search-theme-form.tpl.php)\A  */\A #search-box /* Wrapper for the search form */ {\A }\A \A #edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */ {\A   display: none;\A }\A \A \A /*\A  * Search (search-block-form.tpl.php)\A  */\A #search-block-form /* Wrapper for the search form */ {\A }\A \A #edit-search-block-form-1-wrapper label /* Label that says "Search this site:" */ {\A   display: none;\A }\A \A \A /*\A  * Drupal's default login form block
*/
#user-login-form{text-align:left}
#user-login-form li.openid-link /* The "Log in using OpenID" link. */{margin-top:1em;margin-left:-20px}
#user-login-form li.user-link /* The "Cancel OpenID login" link. */{margin-top:1em}
#user-login li.openid-link,#user-login li.user-link /* The OpenID links on the /user form. */{margin-left:-2em}
form tbody{border-top:1px solid #ccc}
form th,form thead th{text-align:left;padding-right:1em;border-bottom:3px solid #ccc}
form tbody th{border-bottom:1px solid #ccc}
.form-item,.form-checkboxes,.form-radios /* Wrapper for a form element (or group of form elements) and its label */,#user-login ul{margin:1em 0}

/* Forms */
.form-item,.form-checkboxes,.form-radios /* Wrapper for a form element (or group of form elements) and its label */{margin:1em 0}
.form-item input.error,.form-item textarea.error,.form-item select.error /* Highlight the form elements that caused a form submission error */{border:2px solid #c00}
.form-item label /* The label for a form element */{display:block;font-weight:700}
.form-item label.option /* The label for a radio button or checkbox */{display:inline;font-weight:400}
.form-required /* The part of the label that indicates a required field */{color:#c00}
.form-item .description /* The descriptive help text (separate from the label) */{font-size:0.85em}
.form-checkboxes .form-item,.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */{margin:0.4em 0}
.container-inline div,.container-inline label /* Inline labels and form divs */{display:inline}
#user-login-form{text-align:left}
#user-login-form li.openid-link /* The "Log in using OpenID" link. */{margin-top:1em;margin-left:-20px}
#user-login-form li.user-link /* The "Cancel OpenID login" link. */{margin-top:1em}
#user-login ul{margin:1em 0}
#user-login li.openid-link,#user-login li.user-link /* The OpenID links on the /user form. */{margin-left:-2em}
form tbody{border-top:1px solid #ccc}
form th,form thead th{text-align:left;padding-right:1em;border-bottom:3px solid #ccc}
form tbody th{border-bottom:1px solid #ccc}
#edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */,#edit-search-block-form-1-wrapper label /* Label that says "Search this site:" */{display:none}

