// $Id: translatablecomments.css,v 1.1.2.2 2009/11/20 23:38:06 davetrainer Exp $

span.translator {
  float: right;
}

span.translator a {
  border: 1px solid #555;
  color: #000;
  float: right;
  font-size: 0.8em;
  margin: 1px;
  padding: 0px 4px;
  text-decoration: none;
}
