.buildpath
.project
.settings
nbproject
.vagrant
.svn
docroot/files
resources/rebuild/local.rebuild.yaml
docroot/apc.php
ubercart_encryption/uc_credit.key
tests/vendor
tests/composer.phar
tests/bin
private_files
