.buildpath
.project
.settings
nbproject
.vagrant
.svn
.idea
docroot/files
docroot/files.*
docroot/sites/.gitignore
resources/rebuild/local.rebuild.yaml
docroot/apc.php
ubercart_encryption/uc_credit.key
private_files
.floo*

*.sass-cache

# Ignore the robots.txt this is now handled in the CMS by the robotstxt module.
docroot/robots.txt
