#views-bulk-operations-dropdown {
  float: left;
  padding: 3px;
}

#views-bulk-operations-submit {
  padding: 14px 0px 0px 0px;
}

#views-bulk-operations-admin {
  clear:both;
}

.views-node-selector {
  clear: both;
}

.views-field-select-all {
  text-align: center;
}

.views-field-select-all span.select {
  display: none;
}

.views-field-select-all span.select label {
  display: inline;
  font-weight: normal;
}

.views-field-select-all span.count {
  font-weight: bold;
}

