/***
 * Link Button Styles
 *
 * Apply this class to any link to make it look like a Warmshowers Button.
 *
 * ## Modifier Classes
 * light = For use on darker backgrounds that could use a white button
 * dark = For use on darker backgrounds that could use a dark button
 * rounded = For use to make the button corners rounded
 * lgrounded = make the rounded corners bigger
 * big = Make the button large and in-charge
 */

#content a.linkbutton {
  display: inline-block;
  width: auto;
  padding: 7px;
  margin-right: 7px;
  margin-top: 7px;
  border: 1px solid #4f8eef;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  color: #266acf;
  text-decoration: none;
  cursor: pointer;
}
#content a:hover.linkbutton,
#content a:hover.linkbutton.dark {
  color: #FFF;
  background: #4f8eef;
}
a.linkbutton.rounded {
  border-radius: 4px;
}
a.linkbutton.light {
  border-color: #fff;
  color: #fff;
  background: #76adff;
}
a:hover.linkbutton.light,
a:hover.linkbutton.green {
  background-color: #FFF;
  color: #4c8bed;
  border-color: #fff;
}
a.linkbutton.dark {
  border-color: #445d77;
  color: #9FCBFF;
  background: #000f25;
}
a:hover.linkbutton.dark {
  border-color: #4f8eef;
}
a.linkbutton.green {
  border-color: #84C566;
  color: #84C566;
}
a.linkbutton.big {
  display: block;
  font-size: 14px;
  width: 90%;
  margin: .65em 0;
  padding: 6px 7px;
  line-height: normal;
  text-align: center;
  border-width: 2px;
}
a.linkbutton.big.rounded,
a.linkbutton.lgrounded {
  border-radius: 8px;
}
.linkbutton_group {
  margin: 7px 0;
}
.linkbutton_group a.linkbutton {
  width: 38%;
  margin: 0 3px 0 0;
}
