/**
 * @file
 * SMACSS Modules
 *
 * Adds modular sets of styles.
 *
 * Additional useful selectors can be found in Zen's online documentation.
 * https://drupal.org/node/1707736
 */

/**
 * Wireframes.
 */
.with-wireframes {

  .region {
    outline: 1px solid #AAAADD;
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      .lt-ie8 & {
        /* IE6/7 do not support the outline property. */
        border: 1px solid #AAAADD;
      }
    }
  }
  .block {
    outline: 1px solid #FF6600;
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      .lt-ie8 & {
        /* IE6/7 do not support the outline property. */
        border: 1px solid #FF6600;
      }
    }
  }

  #header,
  #main,
  #content,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .region-bottom {
    /* Wireframes can be enabled or disabled in Admin > Appearance > Settings. */
    outline: 1px solid #ccc;

    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      .lt-ie8 & {
        /* IE6/7 do not support the outline property. */
        border: 1px solid #ccc;
      }
    }
  }
}

/***
 * Misc
 * TODO: Check all these styles are necessary and us, they come from the starter theme.
 */
#content-area .picture {
  float: left;
  margin-right: 15px;
}

/**
 * Member_list view styles
 * TODO: Check all these styles are necessary and us, they come from the starter theme.
 */
#views-exposed-form-member-list-page-1 {
  display: none;
}

div.view-member-list td {
  vertical-align: top;
  border: 1px solid black;
}

div.view-member-list .views-field-country {
  text-transform: uppercase;
}

#content-area .random-member-photo .picture {
  float: none;
}

.random-member-photo img {
  border: 2px solid $page-bkg;
  padding: 2px;
}

div.view-random-member {
  position: absolute;
  left: 9px;
  top: 9px;
}

.view-random-member a {
  display: block;
  text-align: center;
}

#edit-city-wrapper #autocomplete {
  width: 500px !important;
}


/**
 * CSS injector classes.
 */
.view-board-bios td {
  padding-left: 30px;
}

td.views-field-title {
  font-weight: bold;
}


/* Style the buttons on the page */
.submit-button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius:6px;
  color: #266acf;
  font-size: 25px;
  text-decoration: none;
}
