/************** Skin 1 *********************/
.dd_after {
	/*display:inline-block !important;*/
	text-align:left;
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	position:relative;
}
.dd_after .ddTitle {
	background:#f2f2f2;
	border:1px solid #c3c3c3;
	padding:3px;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	height:16px;
}
.dd_after .ddTitle span.arrow {
	background:url(dd_arrow.gif) no-repeat 0 0;
	float:right;
	display:inline-block;
	width:16px;
	height:16px;
	cursor:pointer; 
}

.dd_after .ddTitle span.ddTitleText {
	text-indent:1px;
	overflow:hidden;
	line-height:16px;
	float:left;
}
.dd_after .ddTitle span.ddTitleText img {
	text-align:left;
	padding:0 0 0 4px;
	float:right;
}
.dd_after .ddTitle img.selected {
	padding:0 0 0 6px;
	vertical-align:top;
}
.dd_after .ddChild {
	position:absolute;
	border:1px solid #c3c3c3;
	border-top:none;
	display:none;
	margin:0;
	width:auto;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#ffffff;
}
.dd_after .ddChild .opta a,
.dd_after .ddChild .opta a:visited {
	padding-left:10px;
}
.dd_after .ddChild a {
	display:block;
	padding:2px 6px 2px 0;
	text-decoration:none;
	color:#000;
	overflow:hidden;
	cursor:pointer;
}
.dd_after .ddChild a:hover {
	background-color:#66CCFF;
}
.dd_after .ddChild a img {
	border:0;
	padding:0 0 0 4px;
	vertical-align:middle;
}
.dd_after .ddChild a.selected {
	background-color:#66CCFF;
}
.dd_after .ddChild a span.ddTitleText {
	float:left;
}
.hidden {
	display:none;
}

.dd_after .borderTop {
	border-top:1px solid #c3c3c3 !important;
}
.dd_after .noBorderTop {
	border-top:none 0  !important;
}

/************** Skin 2 *********************/
.dd2_after {
	/*display:inline-block !important;*/
	text-align:left;
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	position:relative;
}
.dd2_after .ddTitle {
	background:transparent url(msDropDown.gif) no-repeat;
	padding:0 3px;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	height:36px;
}
.dd2_after .ddTitle span.arrow {
	background:transparent url(icon-arrow.gif) no-repeat 0 0;
	float:right;
	display:inline-block;
	width:27px;
	height:27px;
	cursor:pointer;
	top:5px;
	position:relative;
	right:2px;
}

.dd2_after .ddTitle span.ddTitleText {text-indent:1px; overflow:hidden; line-height:33px; font-family:Georgia, "Times New Roman", Times, serif; font-size:16px; font-weight:bold; color:#fff;}
.dd2_after .ddTitle span.ddTitleText img{text-align:left; padding:0 2px 0 0;}
.dd2_after .ddTitle img.selected {
	padding:0 2px 0 0;
	vertical-align:top;
}
.dd2_after .ddChild {
	position:absolute;
	border:1px solid #c3c3c3;
	border-top:none;
	display:none;
	margin:0;
	width:auto;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#ffffff;
	font-size:14px;
}
.dd2_after .ddChild .opta a,
.dd2_after .ddChild .opta a:visited {
	padding-left:10px;
}
.dd2_after .ddChild a {
	display:block;
	padding:3px 0 3px 3px;
	text-decoration:none;
	color:#000;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
}
.dd2_after .ddChild a:hover {
	background-color:#66CCFF;
}
.dd2_after .ddChild a img {
	border:0;
	padding:0 2px 0 0;
	vertical-align:middle;
}
.dd2_after .ddChild a.selected {
	background-color:#66CCFF;	
}

.dd2_after .borderTop{border-top:1px solid #c3c3c3  !important;}
.dd2_after .noBorderTop{border-top:none 0  !important}

/************* use sprite *****************/
.dd_after .ddChild a.sprite, .dd_after .ddChild a.sprite:visited {
	background-image:url(../icons/sprite.gif);
	background-repeat:no-repeat;
	padding-left:24px;
}

.dd_after .ddChild a.calendar, .dd_after .ddChild a.calendar:visited {
	background-position:0 -404px;
}
.dd_after .ddChild a.shoppingcart, .dd_after .ddChild a.shoppingcart:visited {
	background-position:0 -330px;
}
.dd_after .ddChild a.cd, .dd_after .ddChild a.cd:visited {
	background-position:0 -439px;
}
.dd_after .ddChild a.email, .dd_after .ddChild a.email:visited {
	background-position:0 -256px;
}
.dd_after .ddChild a.faq, .dd_after .ddChild a.faq:visited {
	background-position:0 -183px;
}
.dd_after .ddChild a.games,
.dd_after .ddChild a.games:visited {
	background-position:0 -365px;
}
.dd_after .ddChild a.music, .dd_after .ddChild a.music:visited {
	background-position:0 -146px;
}
.dd_after .ddChild a.phone, .dd_after .ddChild a.phone:visited {
	background-position:0 -109px;
}
.dd_after .ddChild a.graph, .dd_after .ddChild a.graph:visited {
	background-position:0 -73px;
}
.dd_after .ddChild a.secured, .dd_after .ddChild a.secured:visited {
	background-position:0 -37px;
}
.dd_after .ddChild a.video, .dd_after .ddChild a.video:visited {
	background-position:0 0;
}
/*******************************/
