/* $Id: advpoll.css,v 1.2.2.5.2.3 2009/04/11 16:02:47 chriskennedy Exp $ */

.node-form .choices {
  margin-right: 0.2em;
  display:inline;
}

a.remove-choice {
  font-size: 0.85em;
  cursor:pointer;
}

html.js .writein-choice, html.js .edit-settings-show-writeins {
  display: none;
}

html.js input.writein-choice {
  margin-left: 0.6em;
}

.poll-question {
  font-weight: bold;
}


/***
 * Begin drag-and-drop specific styles for ranking polls.
 */

.advpoll-drag-and-drop-processed .advpoll-available-choices {
  clear: left;
  float: left;
  min-width: 200px;
  margin-right: 20px;
}

.advpoll-drag-and-drop-processed .vote-choices ul {
  cursor: pointer;
  clear: left;
}

.advpoll-choice-wrapper label {
  clear: inherit;
}

.advpoll-drag-box {
  display: none; /* Hide if drag-and-drop JS hasn't run yet. */
}

.advpoll-drag-and-drop-processed .advpoll-drag-box {
  min-width: 150px;
  float: left;
  padding-bottom: 5px;
  text-align: center;
  width: 220px; /* Needed so IE doesn't expand to 100% width. */
  display: block; /* Show using if drag-and-drop enabled. */
}

.drag-and-drop .advpoll-existing-choices-table {
  margin-left: 5px;
  margin-bottom: 5px;
  padding-bottom: 0;
  margin-right: 5px;
  background-color: #eee;
  border: 2px solid #ddd;
  text-align: left;
  min-height: 25px;
}

.advpoll-vote-list ol {
}

.advpoll-vote-list li {
  padding: 3px;
}

.choice-header {
  font-weight: bold;
}

.advpoll-drag-and-drop-processed .choice-header {
  float: left;
}

.advpoll-vote-header {
  text-align: center;
  font-weight: bold;
  padding: 3px;
}

/* Hide the default Drupal 6  warning message for drag-and-drop tables. */
.advpoll-drag-box .warning {
  display: none !important;
}

.advpoll-existing-choice {
  margin-left: 25px;
}

.vote-status {
  font-style: italic;
  font-size: 90%;
  margin-left: 5px;
  margin-right: 5px;
}

.advpoll-vote-list label, .pending-choice-list label {
  cursor: pointer;
}

.advpoll-choice-action-link {
  margin-left: 10pt;
}
