/***
 * Warm Showers Zen Base Styles
 *
 * Generally includes classes for overall structure and design.
 *
 * This theme was developed on Zen 6.x-2.1 using the tried and true
 * zen layout system by JohnAlbin on Drupal.org.
 *
 * All custom CSS was written by Randy Fay, Chris Russo, and Josh Miller in the
 * Summer of 2012.
 *
 * ## Colors:
 * $page-bkg = #304767
 * $light-light-green = #84C566
 * $light-green = #40be59
 * $green = #019e3c
 * $dark-green = #007e1d
 * $blue = #266acf
 * $dark-blue = #192c42
 * $dark-gray = #424242
 * $orange = #f0af00
 * $red = #ff4800
 *
 * ## Fonts:
 * font-family: 'Asap', Arial, sans-serif; <-- For Everything
 * font-family: 'Sue Ellen Francisco', cursive; <-- For Special Cases
 */

/* Importing Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco|Asap:400,700,400italic,700italic);

/***
 * Body and Structure
 * See also zen.css for layout styles
 */
body {
  background: $page-bkg;
  color: $white;
}

.container {
  &.responsive {
    @include zen-grid-container;
  }
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.wrapper {
  position: relative;
}

#content {
  background: $white;
  .section {
    margin: 20px;
  }
  #main {
    background: url('../img/content_rightsidebar-bkg.png') top left repeat-y;
    margin-top: 32px;
  }
}

/* Front Page */
.front #content-area {
  display: none;
}
.front #main {
  background: none;
}

/***
 * Fonts
 */
.sidebar, .region-highlight,
#header, #footer, #content {
  color: $page-bkg;
  font-family: 'Asap', Arial, sans-serif;
  font-size: 14px;
}
.sidebar a, #content a {
  color: $green;
  font-style: italic;
}
.sidebar a:visited, #content a:visited {
  color: $dark-green;
}
.sidebar a:hover, #content a:hover {
  color: $light-green;
}

/***
 * Misc
 */
#content-area .picture {
  float: left;
  margin-right: 15px;
}

/**
 * Member_list view styles
 */
#views-exposed-form-member-list-page-1 {
  display: none;
}

div.view-member-list td {
  vertical-align: top;
  border: 1px solid black;
}

div.view-member-list .views-field-country {
  text-transform: uppercase;
}
#content-area .random-member-photo .picture {
  float: none;
}
.random-member-photo img {
  border: 2px solid $page-bkg;
  padding: 2px;
}
div.view-random-member {
  position: absolute;
  left: 9px;
  top: 9px;
}

.view-random-member a {
  display: block;
  text-align: center;
}

#edit-city-wrapper #autocomplete {
  width: 500px !important;
}

