/***
 * Warm Showers Zen Base Styles
 *
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * Generally includes classes for overall structure and design.
 *
 * Originally written by Randy Fay, Chris Russo, and Josh Miller in the summer of 2012.
 * Rewritten from the ground up by Anne Tee and Andrew Hughes-Onslow in the summer 2015.
 *
 * ## Colors:
 * $page-bkg = #304767
 * $light-light-green = #84C566
 * $light-green = #40be59
 * $green = #019e3c
 * $dark-green = #007e1d
 * $blue = #266acf
 * $dark-blue = #192c42
 * $dark-gray = #424242
 * $orange = #f0af00
 * $red = #ff4800
 *
 * ## Fonts:
 * $font-body = 'Asap', Arial, sans-serif; <-- For Everything
 * $font-special = 'Sue Ellen Francisco', cursive; <-- For Special Cases
 */

body {
  background: $page-bkg;
  color: $page-bkg;
}

/***
 * Fonts
 */
.sidebar, .region-highlight,
#header, #footer, #content {
  color: $page-bkg;
  font-family: $font-body;
  font-size: $base-font-size;
}

.sidebar a, #content a {
  color: $green;
  font-style: italic;
}

.sidebar a:visited, #content a:visited {
  color: $dark-green;
}

.sidebar a:hover, #content a:hover {
  color: $light-green;
}

/**
 * Accessibility features.
 */

/* element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.element-invisible,
%element-invisible {
  @include element-invisible;
}

/* Turns off the element-invisible effect. */
%element-invisible-off {
  @include element-invisible-off;
}

.element-focusable,
%element-focusable {
  @extend %element-invisible;

  &:active,
  &:focus {
    @extend %element-invisible-off;
  }
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 */
#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: $white;
  }
}

/**
 * Messages.
 */
.messages {
  margin: rhythm(1) 0;
  padding: 10px 10px 10px 50px; /* LTR */
  background-image: inline-image("message-24-ok.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *background-image: image-url("message-24-ok.png");
  }
  background-position: 8px 8px; /* LTR */
  background-repeat: no-repeat;
  border: 1px solid #be7;
}

.messages--status {
  @extend .messages;
  @extend %ok;
}

.messages--warning {
  @extend .messages;
  @extend %warning;
  background-image: inline-image("message-24-warning.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *background-image: image-url("message-24-warning.png");
  }
  border-color: #ed5;
}

.messages--error {
  @extend .messages;
  @extend %error;
  background-image: inline-image("message-24-error.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *background-image: image-url("message-24-error.png");
  }
  border-color: #ed541d;

}

.messages__list {
  margin: 0;
}

.messages__item {
  list-style-image: none;
}

/* Core/module installation error messages. */
.messages--error p.error {
  color: #333;
}

/* System status report. */
.ok,
%ok {
  background-color: #f8fff0;
  color: #234600;
}

.warning,
%warning {
  background-color: #fffce5;
  color: #840;
}

.error,
%error {
  background-color: #fef5f1;
  color: #8c2e0b;
}

/**
 * Breadcrumb navigation.
 */
.breadcrumb {
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

/**
 * Tabs.
 */

.tab-area {

}

/* Basic positioning styles shared by primary and secondary tabs. */
.tabs { // <ul>
  @include clearfix;
  margin: 0;
}

%tabs {
  @include clearfix;
  list-style: none;
  margin: 0 20px;
  padding: 0;
  white-space: nowrap;
}

%tabs__tab {
  float: left; /* LTR */
  margin: 0 2px;
  background-color: transparent;
}

%tabs__tab-link { // <a>
  display: block;
  @include adjust-leading-to(1);
  text-decoration: none;
  background: none;
  padding: 0;
}

/* Primary tabs. */
.tabs-primary {
  @extend %tabs;
}

.tabs-primary__tab {  // <li>
  @extend %tabs__tab;
  border-bottom: 0 \0/ ie;
}

.tabs-primary__tab.is-active {
  @extend .tabs-primary__tab;
  border-bottom-color: $tabs-container-bg;
}

// We use 3 placeholder styles to prevent @extend from going selector crazy.
%tabs-primary__tab-link { // <a>
  @extend %tabs__tab-link;
  @include border-top-radius(8px);
  //@include transition(background-color 0.3s);
  background: #686d75;
  color: $white;
  letter-spacing: 1px;
  padding: 0.333em rhythm(0.5) 0.2em;
  text-align: center;
}

%tabs-primary__tab-link-is-hover {
  background: #8c8f93;
}

%tabs-primary__tab-link-is-active {

  background: $white;
  color: #4c8bed;
}

a.tabs-primary__tab-link {
  @extend %tabs-primary__tab-link;

  &:hover,
  &:focus {
    @extend %tabs-primary__tab-link-is-hover;
  }
  &:active,
  &:active:hover {
    @extend %tabs-primary__tab-link-is-active;
  }
}

a.tabs-primary__tab-link.is-active {
  @extend %tabs-primary__tab-link;
  @extend %tabs-primary__tab-link-is-active;
}

/* Secondary tabs. */
.tabs-secondary {
  @extend %tabs;
  font-size: .9em;
  margin: 0;
  padding: rhythm(0.5) rhythm(1) rhythm(0.4);
  background-color: #FFFFFF;
  border-bottom: 1px #ddd solid;
}

.tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  @extend %tabs__tab;
  margin: rhythm(1)/2 3px;
}

// We use 3 placeholder styles to prevent @extend from going selector crazy.
%tabs-secondary__tab-link {
  @extend %tabs__tab-link;
  @include border-radius(.75em);
  @include transition(background-color 0.3s);
  @include single-text-shadow($white, 1px, 1px, 0);
  background-color: #f2f2f2;
  color: #666;
  padding: 0 .5em;
}

%tabs-secondary__tab-link-is-focus {
  background-color: #dedede;
  border-color: #999;
  color: #333;
}

%tabs-secondary__tab-link-is-active {
  @include single-text-shadow(#333, 1px, 1px, 0);
  background-color: #666;
  border-color: #000;
  color: $white;
}

a.tabs-secondary__tab-link {
  @extend %tabs-secondary__tab-link;

  &:hover,
  &:focus {
    @extend %tabs-secondary__tab-link-is-focus;
  }
  &:active {
    @extend %tabs-secondary__tab-link-is-active;
  }
}

a.tabs-secondary__tab-link.is-active {
  @extend %tabs-secondary__tab-link;
  @extend %tabs-secondary__tab-link-is-active;
}


/**
 * Titles.
 */
.page__title,
.node__title,
.block__title,
.comments__title,
.comments__form-title,
.comment__title {
  margin: 0;
}

/**
 * Inline styles.
 */

/* List of links generated by theme_links(). */
.inline {
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}

/* The inline field label used by the Fences module. */
span.field-label {
  padding: 0 1em 0 0; /* LTR */
}

/**
 * "More" links.
 */
.more-link {
  text-align: right; /* LTR */
}

.more-help-link {
  text-align: right; /* LTR */
}

.more-help-link a {
  background-image: inline-image("help.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *background-image: image-url("help.png");
  }
  background-position: 0 50%; /* LTR */
  background-repeat: no-repeat;
  padding: 1px 0 1px 20px; /* LTR */
}

/**
 * Pager.
 */

/* A list of page numbers when more than 1 page of content is available. */
.pager {
  clear: both;
  padding: 0;
  text-align: center;
}

%pager__item {
  display: inline;
  padding: 0 0.5em;
  list-style-type: none;
  background-image: none;
}

.pager-item, /* A list item containing a page number in the list of pages. */
.pager-first, /* The first page's list item. */
.pager-previous, /* The previous page's list item. */
.pager-next, /* The next page's list item. */
.pager-last, /* The last page's list item. */
.pager-ellipsis {
  /* A concatenation of several list items using an ellipsis. */
  @extend %pager__item;
}

/* The current page's list item. */
.pager-current {
  @extend %pager__item;
  font-weight: bold;
}

/**
 * Blocks.
 */

/* Block wrapper. */
.block {
  margin-bottom: rhythm(1);
}

/**
 * Menus.
 */
.menu__item.is-leaf {
  list-style-image: inline-image("menu-leaf.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *list-style-image: image-url("menu-leaf.png");
  }
  list-style-type: square;
}

.menu__item.is-expanded {
  list-style-image: inline-image("menu-expanded.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *list-style-image: image-url("menu-expanded.png");
  }
  list-style-type: circle;
}

.menu__item.is-collapsed {
  list-style-image: inline-image("menu-collapsed.png"); /* LTR */
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *list-style-image: image-url("menu-collapsed.png"); /* LTR */
  }
  list-style-type: disc;
}

/* The active item in a Drupal menu. */
.menu a.active {
  color: #000;
}

/**
 * Marker.
 */

/* The "new" or "updated" marker. */
.new,
.update {
  color: #c00;
  /* Remove background highlighting from <mark> in normalize. */
  background-color: transparent;
}

/**
 * Unpublished note.
 */

/* The word "Unpublished" displayed underneath the content. */
.unpublished {
  height: 0;
  overflow: visible;
  /* Remove background highlighting from <mark> in normalize. */
  background-color: transparent;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  /* A very nice CSS3 property. */
  word-wrap: break-word;
}

@if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
  .lt-ie8 .node-unpublished > *,
  .lt-ie8 .comment-unpublished > * {
    /* Otherwise these elements will appear below the "Unpublished" text. */
    position: relative;
  }
}

/**
 * Comments.
 */

/* Wrapper for the list of comments and its title. */
#comments {
  margin: rhythm(1) 0;
  padding-top: rhythm(1);
  border-top: 1px solid $dark-blue;
}

/* Preview of the comment before submitting new or updated comment. */
.comment-preview {
  /* Drupal core will use a #ffffea background. See #1110842. */
  background-color: #ffffea;
}

/* Wrapper for a single comment. */
.comment {

  /* Comment's permalink wrapper. */
  .permalink {
    text-transform: uppercase;
    font-size: 75%;
  }
}

/* Nested comments are indented. */
.indented {
  /* Drupal core uses a 25px left margin. */
  margin-left: $indent-amount; /* LTR */
}

/**
 * Forms.
 */
.form-wrapper {
  margin-bottom: rhythm(1);

  .user-picture {
    display: block;
    margin: rhythm(1) 0;
  }
}

/* overides, can't find */
.text-format-wrapper .form-item {
  //margin: rhythm(1) 0;
}

fieldset,
#edit-account {
  padding: 20px;
}

fieldset#edit-filter div.form-actions {
//.privatemsg-filter-actions {
  margin: rhythm(1) 0;
  padding-left: 160px;
  //padding: initial;

  label {
    float: left;
    margin-right: 10px;
    width: 150px;
    text-align: right;
    padding-top: 0px;
  }
}
/* en overrides */

/* Wrapper for a form element (or group of form elements) and its label. */
.form-item {
  margin: rhythm(1) 0;


  > label:not(.option) {
    margin-bottom: 0.3em;
  }

  .form-checkbox,
  .form-radio {
    //margin-right: 3px;
  }

  .form-checkbox {
    margin-top: 1px;
  }

  /* Pack groups of checkboxes and radio buttons closer together. */
  .form-checkboxes &,
  .form-radios & {
    /* Drupal core uses "0.4em 0". */
    margin: 0;
  }

  /* Form items in a table. */
  tr.odd &,
  tr.even & {
    margin: 0;
  }

  /* Highlight the form elements that caused a form submission error. */
  input.error,
  textarea.error,
  select.error {
    border: 1px solid #c00;
  }

  /* The descriptive help text (separate from the label). */
  .description {
    font-size: 0.85em;
    line-height: 1.5em;
    padding-bottom: 0.4em;
  }
}

/* affects only when nested */
.form-item .form-type-select label {
  //font-size: 0.5;
  font-weight: normal;
}

.form-type-radio,
.form-type-checkbox {
  
  line-height: 1em;

  .description {
    margin-top: 0.5em;
    //margin-left: 2.4em;
  } 

  input {
    vertical-align: middle;
    //position: relative;
    float: left;
    //top: -1px;

    &:before {
      content: "";
      display: block;
      visibility: hidden;
      height: 50%;
      margin-top: -0.7em;
    }

    .form-item-panes-payment-payment-method & {

      &:not(#edit-panes-payment-payment-method-free-order) {

        margin-top: 4px;
      }
    }
  }

  label {
    margin-top: 2px;
    margin-left: 18px;
    line-height: 1.1em;
  }
}

.form-type-radio {
  padding-bottom: 0.7em;
}

/* The part of the label that indicates a required field. */
.form-required {
  color: #c00;
}

/* Main buttons area at the bottom of forms */
.form-actions {
  border: 0;
  padding: 0;
  margin: 0;

  input,
  a {
    margin-right: rhythm(0.5);
  }
}

/* */
.form-text,
.form-textarea {
  padding-left: 3px;
}

/* Labels for radios and checkboxes. */
label.option {
  //display: inline;
  font-weight: normal;
}

/* Buttons used by contrib modules like Media. */
a.button {
  @include appearance(button);
}

/* Password confirmation. */
.password-parent,
.confirm-parent {
  margin: 0;
}

/* Drupal's default login form block. */
#user-login-form {
  text-align: left; /* LTR */
}

/**
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

/* OpenID creates a new ul above the login form's links. */
.openid-links {
  /* Position OpenID's ul next to the rest of the links. */
  margin-bottom: 0;
}

/* The "Log in using OpenID" and "Cancel OpenID login" links. */
.openid-link,
.user-link {
  margin-top: rhythm(1);
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* Un-do some of the padding on the ul list. */
  margin-left: -20px; /* LTR */
}

#user-login ul {
  margin: rhythm(1) 0;
}

/**
 * Drupal admin tables.
 */
form {
  th {
    text-align: left; /* LTR */
    padding-right: 1em; /* LTR */
    border-bottom: 3px solid #ccc;
  }
  tbody {
    border-top: 1px solid #ccc;
  }
  table ul {
    margin: 0;
  }
}

tr.even,
tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}

tr.even {
  background-color: $white;
}

@if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
  .lt-ie8 tr.even,
  .lt-ie8 tr.odd {
    th,
    td {
      /* IE doesn't display borders on table rows. */
      border-bottom: 1px solid #ccc;
    }
  }
}

/* Markup generated by theme_tablesort_indicator(). */
td.active {
  background-color: #ddd;
}

/* Center checkboxes inside table cell. */
td.checkbox,
th.checkbox {
  text-align: center;
}

/* Drupal core wrongly puts this in system.menus.css. Since we override that, add it back. */
td.menu-disabled {
  background: #ccc;
}

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */

/* Suggestion list. */
#autocomplete .selected {
  background: #0072b9;
  color: $white;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
.fieldset-legend {

  margin: 0 10px;

  html.js .collapsible & {
    background-image: inline-image("menu-expanded.png");
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      *background-image: image-url("menu-expanded.png");
    }
    background-position: 0px 65%; /* LTR */
    background-repeat: no-repeat;
    padding-left: 15px; /* LTR */
  }
  html.js .collapsed & {
    background-image: inline-image("menu-collapsed.png"); /* LTR */
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      *background-image: image-url("menu-collapsed.png"); /* LTR */
    }
    background-position: 5px 50%; /* LTR */
  }
  .summary {
    color: #999;
    font-size: 0.9em;
    margin-left: 0.5em;
  }
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

.tabledrag-toggle-weight {
  font-size: 0.9em;
}

/**
 * TableSelect behavior.
 *
 * @see tableselect.js
 */
tr.selected td {
  background: #ffc;
}

/**
 * Progress bar.
 *
 * @see progress.js
 */
.progress {
  font-weight: bold;

  .bar {
    background: #ccc;
    border-color: #666;
    margin: 0 0.2em;
    @include border-radius(3px);
  }
  .filled {
    background-color: #0072b9;
    background-image: image-url("progress.gif");
  }
}