.field-tip {
  position: absolute;
  padding: 3px 5px;
}
#themer-popup .field-label {
  background: #000;
  z-index: 10001;
  color: #fff;
}

#themer-fixeder {
  position:fixed;
  top: 10px;
  right: 10px;
  z-index: 10000;
}

#themer-relativer {
  position: relative;
}

#themer-popup {
  position: absolute;
  right: 0;
  font-family: "lucida grande", helvetica, arial, sans-serif;
  text-align: left;
  color: #FFFFFF;
  background-color: #333;
  width: 400px;
  font-size: 10px;
  opacity:.9;
  filter: alpha(opacity=90);
  border: 1px solid #000;
  display: none;
  z-index: 10001;
}

#themer-popup h2, #themer-popup h3, #themer-popup h4 {
  font-family: "lucida grande", helvetica, arial, sans-serif;
}

#themer-popup a, #themer-popup a:visited, #themer-popup span.parent {
  color: #FFF;
  text-decoration: none;
  font-weight: normal;
  margin-bottom: -4px;
  border-bottom:1px dotted #666666;
  cursor: pointer;
}

#themer-popup .topper {
  text-align: center;
  padding: 0 5px;
  height: 20px;
  background-color:#666;
  background-image: url(themer-bar.png);
  background-repeat: repeat-x;
  cursor: move;
}
#themer-popup .close {
  float: right;
  cursor: pointer;
}
#themer-popup .starter {
  font-size:2em;
}

#themer-popup #parents {
  padding-top: 5px;
  background-color: #222;
  color: #999;
}
#themer-popup .row {
  padding: 0 5px 5px;
  border-top: 1px solid #777;
}
#themer-popup dl {
  margin: 0;
}
#themer-popup dt {

}
#themer-popup dd {
  margin: 0 0 0 15px;
  display:block;
}
#themer-popup dd.candidates .delimiter, #themer-popup dd.preprocessors .delimiter {
  color: #999;
}

#themer-popup .devel-obj-output,
#themer-popup .krumo-root {
  max-height: 250px;
  overflow: auto;
}
#themer-popup .devel-obj-output dt {
  cursor: pointer;
}
#themer-popup .devel-obj-output dd {
  display: none;
}
#themer-popup .devel-obj-output .field {
  color: #CCC;
}

#themer-popup .info .key {
  font-size: 18px;
}
#themer-popup .info dt,
#themer-popup .info .dt {
  color: #999;
}

#themer-popup h4 {
  margin: 0;
  font-size: 10px;
  text-align: center;
  font-weight:normal;
  color: #999;
}

#themer-popup .item-list ul li {
  background: none;
  list-style: none;
  padding: 0 0 0 .5em;
  margin: 0;
  text-indent: -.5em;
}
#themer-popup .item-list ul li:before {
  content: "- ";
}

#themer-popup img.throbber {
  position:absolute;
  left:3px;
  top:2px;
}

#themer-toggle {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 3px 5px;
  background: #fff;
  color: #008;
  cursor: pointer;
  z-index: 10002;
  font-size: 13px;
  background-color: #333;
  opacity: .8;
  color: #FFF;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

#themer-popup div.krumo-element {
  background: #222222;
} 
 
#themer-popup div.krumo-expand {
  background: #999999;
}

#themer-popup div.krumo-hover {
	background: #000;
}

#themer-popup div.krumo-preview {
	background: #494949;
}

#themer-popup li.krumo-footnote {
  display: none;
}
