/* #site-menu from alpha theme, http://drupal.org/project/alpha */
#block-menu-primary-links ul li {
  display: inline;
  list-style-type: none;
}

#site-menu,
#block-menu-primary-links {
  background: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 0.50em;
  -moz-border-radius: 0.50em;
  -opera-border-radius: 0.50em;
  -webkit-border-radius: 0.50em;
}

#site-menu ul,
#block-menu-primary-links ul {
  line-height: 46px;
  margin: 0 0 0 0;
  padding: 0;
  background-color: grey;
}

#site-menu ul li,
#block-menu-primary-links ul li {
  padding: 0;
  margin: 0;
}

#site-menu ul li a,
#block-menu-primary-links ul li a {
  border: 1px solid transparent;
  font-size: 20px;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
}

#site-menu ul li a:hover,
#site-menu ul li a.active,
#block-menu-primary-links ul li a:hover,#site-menu ul li hover,
#block-menu-primary-links ul li a:hover,#site-menu ul li a.active
  {
  color: #000;
  border: 1px solid #ccc;
  background: #EEE;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -opera-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}