/* ws_omega tweaks */

#main-content-container {
  min-height:400px
}

#block-menu-primary-links ul.menu {
  padding-left: 10px;
}

/* for the front page pictures */
  /*** Handle front-page pics of members ***/
.mempics ul {
  list-style-type: none;
  display: inline;
}

.mempics li {
  float: left;
  width: 150px;
  // border: 1px solid black;
  padding: 0px;
  margin-right: .5em;
  margin-bottom: .5em;
  text-align: center;
  overflow: hidden;
}

.mempics img {
  display: block;
  height: 120px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#pictures {
  width: 700px;
  margin:0 auto;
}
