/**
 * @file
 * Styles for uc_store module.
 */
.uc-price {
  white-space: nowrap;
}

.uc-store-admin-table {
  margin: 1em auto;
  border: 1px dashed #bbb;
}

.uc-store-admin-table tbody {
  border-top: 0px;
}

.uc-store-admin-panel {
  margin: 1em;
  padding: 1em;
}

.uc-store-admin-panel .uc-store-icon {
  float: left;
  margin-right: 1em;
}

.uc-store-admin-panel .panel-title {
  padding-top: 4px;
  font-size: 1.5em;
  width: 100%;
}

.uc-store-admin-panel .panel-show-link a {
  cursor: pointer;
}

.uc-customer-table .uc-store-icon {
  float: left;
  margin-right: .5em;
}

.uc-customer-table tr.odd:hover,
.uc-customer-table tr.even:hover {
  background-color: #ddd;
}

.uc-cust-orders-table tr.odd:hover,
.uc-cust-orders-table tr.even:hover {
  background-color: #ddd;
}

.uc-cust-orders-table .uc-store-icon {
  float: left;
  margin-right: .5em;
}

#store-footer {
  width: 100%;
  text-align: center;
  font-size: x-small;
  clear: both;
}

.uc-default-submit {
  height: 0px;
  left: -9999px;
  position: absolute;
  top: -9999px;
  width: 0px;
}

.uc-store-status td {
  vertical-align: top;
}

.uc-store-status td.title {
  font-weight: bold;
  white-space: nowrap;
}

.uc-store-status td.message {
  width: 100%;
}

table.section-items {
  width: auto;
}

table.section-items td {
  padding: .25em;
}

#uc-country-import-form .form-item,
#uc-country-import-form .form-item label {
  display: inline;
  float: left;
  margin-right: 1em;
}

#uc-country-import-form .form-submit {
  float: left;
  margin-top: 1em;
}

#uc-country-import-form table {
  clear: left;
}

/**
 * CSS enhancements for Ubercart summary overviews.
 */

.summary-overview {
  padding: .5em;
  border: 1px dashed #bbb;
  margin-bottom: -1px;
}

.summary-title {
  font-weight: bold;
}

.summaryOnclick-processed {
  cursor: pointer;
}

.summaryOnclick-processed:hover {
  background-color: #ddd;
}

.summary-edit-icon {
  float: left;
  margin-right: .5em;
  position: relative;
  top: 2px;
}

.summaryOnclick-processed .item-list {
  margin-left: 1.75em;
}

.summaryOnclick-processed .summary-link {
  display: none;
}

.ubercart-throbber {
  background-image: url(images/throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% -20px;
}

/* Add icon support for admin (http://drupal.org/project/admin). */
.path-admin-store-orders span.icon {
  background: transparent url('images/menu_orders.gif') no-repeat !important;
}
.path-admin-store-customers span.icon {
  background: transparent url('images/menu_customers.gif') no-repeat !important;
}
.path-admin-store-products span.icon {
  background: transparent url('images/menu_products.gif') no-repeat !important;
}
.path-admin-store-settings span.icon {
  background: transparent url('images/menu_store_settings.gif') no-repeat !important;
}
.path-admin-store-attributes span.icon {
  background: transparent url('images/menu_store_settings.gif') no-repeat !important;
}
.path-admin-store-reports span.icon {
  background: transparent url('images/menu_reports.gif') no-repeat !important;
}
.path-admin-store-ca span.icon {
  background: transparent url('images/menu_store_settings.gif') no-repeat !important;
}
.path-admin-store-help span.icon {
  background: transparent url('images/menu_help.gif') no-repeat !important;
}
