/**
 * @file
 * Styles for uc_payment module.
 */

.uc-credit-cctype {
  vertical-align: middle;
  margin-bottom: 3px;
}

#paypal-includes {
  font-weight: bold;
}

#payment-details {
  border-top: solid 1px #bbb;
  clear: both;
  margin-top: 1em;
  padding-top: 1em;
}

.payment-details-cod .form-item {
  display: block;
  float: left; /* LTR */
  padding-right: 5px; /* LTR */
}

.payment-details-credit .form-item {
  margin: 0;
}

.payment-details-credit label {
  clear: left; /* LTR */
  float: left; /* LTR */
  margin: 2px 0;
  padding-top: 5px;
  width: 10em;
}

.payment-details-credit input,
.payment-details-credit select {
  float: left; /* LTR */
  margin: 2px;
}

.form-item-panes-payment-details-cc-start-year label,
.form-item-panes-payment-details-cc-exp-year label,
.form-item-cc-data-cc-start-year label,
.form-item-cc-data-cc-exp-year label {
  display: none;
}

.payment-details-credit .field-suffix {
  float: left; /* LTR */
  margin: 2px;
  padding-top: 5px;
}

img.uc-2checkout-logo {
  position: relative;
  left: 2.2em; /* LTR */
}

#line-items-div {
  border: 1px solid #bbb;
  float: right; /* LTR */
  margin: 0 0 1em 1em; /* LTR */
}

#line-items-div table {
  margin: 0;
  width: auto;
}

#line-items-div td {
  padding: 0.2em 0.5em;
}

#line-items-div td.title {
  font-weight: bold;
}

#uc-payment-by-order-form .form-type-item {
  float: left; /* LTR */
  width: 10em;
}

#uc-payment-by-order-form table {
  clear: left; /* LTR */
}
