/* $Id:
/*
 * @file
 * Style sheet for the views_bonus_spy module
 * 
 * You can disable the loading of this file in your style options, just uncheck 'Use the module's default styling'
 *
 * .views-spy-item wrappers get per-row classes like item-0, item-1 and so on
 *  style each row independently like this:
 * .views-spy .item-1
*/

/* the whole spy */
div.views-spy {
 background-color: #2E3436;
 padding: 1em;
 -moz-border-radius: 5px;
 color: #ddd;
}

/* IMPORTANT:
 * Resetting all spy sections.
 * Having margins/paddings on top/bottom will cause problems. Use the .views.spy-item height property instead.
 */
div.views-spy-item * {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* IMPORTANT:
 * This is the height that will be used for sliding, so set it correctly for all to fit in.
 * The js will take the height of the first item and set it to all items, if you don't specify it here.
 * The classes below are an example, modify it in your template's CSS to fit your needs.
 */
div.view-id-users div.views-spy-item {
 /* height: 150px; */
}

div.views-spy-item {
  /* if you are floating things inside the spy item */
 overflow: hidden;
 height: 100%;  /* for ie */
}

.views-field-picture {
  float: left;
  padding-right: 5px;
}
