/* $Id: better_messages-rtl.css,v 1.1.2.2 2010/03/29 09:56:01 doublethink Exp $ */

#better-messages-default .tl { background:transparent url(images/tr.png) repeat; }
#better-messages-default .tr { background:transparent url(images/tl.png) repeat; }
#better-messages-default .br { background:transparent url(images/bl.png) repeat; }
#better-messages-default .bl { background:transparent url(images/br.png) repeat; }

#better-messages-default a.message-close { 
	float:left;
}

#better-messages-default span.message-timer {
  float:right;
}

#better-messages-default .messages {padding:10px 45px 10px 0;}
#better-messages-default div.status {background:transparent url(images/status.png) no-repeat 99% 5px;}
#better-messages-default div.error {background:transparent url(images/error.png) no-repeat 99% 5px;}
#better-messages-default div.warning {background:transparent url(images/warning.png) no-repeat 99% 5px;}