/**
 * @file
 * Styles for uc_order module.
 */

.uc-order-action img {
  padding: 0 3px;
  position: relative;
  top: 3px;
}

.view-uc-orders .form-item {
  padding-top: 4px;
}

.view-uc-orders #edit-order-id {
  width: 10em;
}

.view-uc-orders #edit-delivery-first-name-wrapper,
.view-uc-orders #edit-created-wrapper {
  clear: left;
}

.view-uc-orders #edit-created-min-wrapper,
.view-uc-orders #edit-created-max-wrapper {
  float: left;
}

.view-uc-orders .form-type-date-select .date-padding {
  padding: 0 22px 0 0;
}

.view-uc-orders .form-type-date-select {
  padding-top: 0;
}

.view-uc-orders tbody tr:hover {
  background-color: #ddd;
}

.view-uc-orders tbody td.views-field-order-total {
  text-align: right;
}

.view-uc-orders tbody td.views-field-created {
  text-align: center;
}

.order-overview-form {
  float: left;
  padding: 0 2em 0 0;
}

.order-overview-form .form-item {
  margin-bottom: 0;
}

.order-overview-form #uc-order-select-form,
.order-overview-form #uc-order-admin-sort-form {
  margin-bottom: 0;
}

.uc-orders-table {
  clear: both;
  width: 100%;
}

.uc-orders-table thead th {
  white-space: nowrap;
}

.uc-orders-table tr.odd:hover,
.uc-orders-table tr.even:hover {
  background-color: #ddd;
}

.uc-orders-table img {
  float: left;
  margin-right: .5em;
}

.order-admin-icons {
  margin-left: 2px;
}

.order-admin-icons img {
  padding: 0 3px;
  position: relative;
  top: 3px;
}

.order-pane {
  border-color: #bbb;
  border-style: solid;
  border-width: 1px;
  line-height: 1.1em;
  margin: .5em;
  padding: .5em;
  position: relative;
}

.order-pane thead {
  background-color: #ddd;
}

.order-pane tbody {
  border-top: 0;
}

.order-pane-icons {
  position: absolute;
  right: .5em;
  top: 5px;
}

.order-pane-icons img {
  cursor: pointer;
}

.order-pane-title {
  font-weight: bold;
  padding-bottom: .5em;
}

.pos-left {
  float: left;
}

.abs-left {
  clear: left;
}

.order-pane.abs-left {
  border: 0;
  padding: .5em 0;
}

.pos-right {
  float: right;
}

.abs-right {
  clear: right;
  float: right;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.order-pane .uc-store-address-field .form-item {
  padding: 0;
}

.order-pane .uc-store-address-field .form-item label {
  padding: 2px 4px;
  width: 12em;
}

.order-pane #edit-add-line-item,
.order-pane #edit-add-line-item .form-item {
  float: left;
  margin-right: 1em;
  padding-top: 0;
}

.order-pane .line-item-table {
  width: auto;
}

.order-pane-table th {
  padding: 4px 8px;
  font-weight: bold;
}

.order-pane-table td {
  padding: 4px 8px;
  vertical-align: top;
}

.order-pane-table td.qty,
.order-pane-table td.sku {
  text-align: center;
  white-space: nowrap;
}

.order-pane-table td.product {
  width: 80%;
}

.order-pane-table td.cost,
.order-pane-table td.price,
.order-pane-table td.total {
  text-align: right;
  white-space: nowrap;
}

#order-edit-products .form-remove {
  cursor: pointer;
  margin-top: 4px;
}

.uc-order-comments td {
  vertical-align: top;
}

.uc-order-comments .date,
.uc-order-comments .user,
.uc-order-comments .notified,
.uc-order-comments .status {
  text-align: center;
  white-space: nowrap;
}

.uc-order-comments .message {
  width: 80%;
}

.order-edit-table {
  width: auto;
}

.order-edit-table .oet-label {
  font-weight: bold;
  text-align: right;
}

.order-edit-table .form-item {
  display: inline;
}

.address-select-box {
  background-color: #ddd;
  border: solid 1px #999;
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  width: auto;
}

.customer-select-box {
  background-color: #ddd;
  border: solid 1px #999;
  margin-top: 1em;
  padding: 1em;
  width: auto;
}

.line-item-table {
  width: 100%;
}

.line-item-table td {
  padding: 2px;
}

.line-item-table .li-title {
  font-weight: bold;
  text-align: right;
  width: 100%;
}

.line-item-table .li-amount {
  text-align: right;
  white-space: nowrap;
}

.line-item-table .form-item {
  display: inline;
}

.order-review-table tbody {
  border-top: 0;
}

.order-pane-table .product-description {
  font-size: .7em;
}

/* Move to uc_credit.css eventually... */
.order-pane #uc-credit-order-view-form {
  margin-bottom: 0;
  margin-top: .5em;
}

#uc-credit-order-view-form .form-submit {
  margin: 0;
}

.order-pane #uc-order-view-update-form {
  margin-bottom: 1em;
}

#uc-order-view-update-form #edit-controls label {
  display: inline;
}

#uc-order-view-update-form #edit-controls .form-type-checkbox {
  padding-top: 8px;
}

#uc-order-view-update-form #edit-controls .form-submit {
  margin: 0;
}

.address-select-box #uc-order-address-book-form {
  margin-bottom: 0;
}

.order-pane.abs-left .form-submit {
  margin: 0.5em 0.5em 0.5em 0;
}

.order-pane #customer-select form {
  margin-bottom: 0;
}

#order-pane-print_button {
  border: 1px solid #bbb;
  padding: 0.5em 0.5em 0.5em 2em;
  background: url("../uc_store/images/print.gif") no-repeat 0.5em 50%;
}