/***
 * Header Styles
 *
 * If it is styled in the Header, you should find it here.
 */

#header #logotitle {
  position: absolute;
  top: 40px;
  left: -28px;
  width: 444px;
  height: 169px;
}
#header #logo {
  position: absolute;
  top: 0;
  left: 0;
}
h1#site-name,
div#site-name {  /* Sitename is actually a part of the logo */
  position: absolute;
  top: 12px;
  left: 72px;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 70px;
}

h1#site-name,
div#site-name,
h1#site-name strong,
div#site-name strong { /* Remove Bold, the strong is to help Google know that it is important, not bolded :) */
  font-weight: normal;
}
#site-name,
#site-name a,
#site-name a:link,
#site-name a:visited { /* Override a style for color, etc. */
  color: #009835;
  text-decoration: none;
}
#site-slogan {
  position: absolute;
  top: 98px;
  left: 78px;
  font-family: 'ASAP', Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: #808080;
}
#header .signpost {
  position: absolute;
  bottom: -34px;
  left: -4px;
  z-index: 9;
  width: 250px;
  height: 110px;
  background: url(../../img/hospitality-sign-v2.png) top left no-repeat;
}
#header .signpost .signpost_txt {
  position: absolute;
  top: 19px;
  left: 8px;
  width: 77px;
  text-align: center;
  font-weight: bold;
  font-style: italic;

  /* Rotate Text */
  -webkit-transform: rotate(353deg);
  -moz-transform: rotate(353deg);
  -o-transform: rotate(353deg);
  writing-mode: lr-tb;
}
#header .signpost #hospitality {
  position: absolute;
  top: 23px;
  right: -30px;
  width: 165px;
  font-size: 13px;
  color: #FFF;
}
#header .signpost #hospitality a {
  color: #bff184;
}
#header .block { /* cool layout bug */
  margin: 0;
}

/* Authentication Block */

#authentication_block {
  position: absolute;
  bottom: 40px;
  left: 850px;
  z-index: 999;
  width: 100px;
  line-height: 1.2em;
}
body.logged-in #authentication_block {
  top: 45px;
  left: 428px;
  width: auto;
  min-height: 25px;
  background: #FFF;
  font-style: italic;
  color: #76ADFF;
  border-radius: 4px;
  bottom: inherit;
}
body.logged-in #authentication_block #authentication_block_wrapper {
  padding: 4px 6px 0 6px;
}
#authentication_block a {
  display:block;
  text-align: center;
  text-decoration: none;
}
body.logged-in #authentication_block a {
  display: inline;
  text-align: inherit;
  color: #266acf;
  padding: 0 6px;
}
body.logged-in #authentication_block a:hover {
  color: #40be59;
}
#authentication_block a.signup {
  color: #2f3652;
  font-size: 12px;
}
#authentication_block a.login {
  color: #bef086;
  font-size: 20px;
}

/* Locale Block */

#header div.block-locale {
  position: absolute;
  top: 0;
  left: 453px;
}
body.logged-in #header div.block-locale  {
  left: 428px;
}
div.block-locale li {
  display: inline;
  padding: 0px 2px;
}

div.block-locale li.last {
  border: none;
}

div.block-locale ul {
  margin: 36px 0 0 0;
  padding: 4px;
  background: #95bef4;
  border-radius: 4px;
  line-height: 0;
}
body.logged-in div.block-locale ul {
  margin-top: 18px;
}
div.block-locale ul a {
  color: #FFF;
}
div.block-locale ul img {
  border: 1px solid #4a739d;
}
div.block-locale ul .active img {
  border: 1px solid #FFF;
}

div.block-locale ul a.active {
  font-weight: bold;
}

/***
 * Header, Logged In Tweaks
 */

body.logged-in #header-style {
  background: #266acf url(../../img/header-bkg-loggedin.jpg) 125% top no-repeat;
}
@media screen and (min-width: 1300px) {
  body.logged-in #header-style {
    background: #266acf url(../../img/header-bkg-loggedin.jpg) 85% top no-repeat;
  }
}
body.logged-in #header #logotitle {
  top: 19px;
  left: -27px;
}
body.logged-in #header #logotitle img { /* small tweak to logo when logged in */
  height: 155px;
  width: auto;
}
body.logged-in #header .signpost {
  display:none;
}
body.logged-in #header .section {
  height: 161px;
}
body.logged-in #header #site-slogan {
  width: 330px;
  font-size: 16x;
  line-height: 18px;
}
