span.ext {
  background: url(extlink.png) right center no-repeat;
  padding-right: 12px;
}
span.mailto {
  background: url(mailto.png) right center no-repeat;
  padding-right: 12px;
}

/* Hide the extra spans when printing. */
@media print {
  span.ext, span.mailto {
    display: none;
    padding: 0;
  }
}
