
/***
 * Styles for the Profile Pages
 */
#profile-top {
  height: 160px;
  margin: 0 20px;
  position: relative;
  background: #c6edb0;
  border-right: 12px solid #e3f6d8;
}
#profile-top #profile-image {
  position:absolute;
  top: -20px;
  left: 0;
  width: 179px;
  height: 200px;
  background: #4c8bed;
}

#profile-image img {
  border: 1px solid black;
}

#profile-top #name-title {
  width: 452px;
  position: absolute;
  top: 15px;
  left: 205px;
}

#profile-top #name-title ul,
#profile-top #name-title li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 11px;
}
#profile-top #name-title ul {
  margin-top: 7px;
  padding-top: 7px;
  border-top: 1px dotted #676767;
}

#profile-top #name-title li {
  display: inline;
  margin-right: 7px;
  padding-right: 7px;
  border-right: 1px dotted #676767;
}
#profile-top #name-title li.leaf-last {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

#profile-top #name-title,
#profile-top #name-title em,
#profile-top #name-title a {
  color: #676767;
  font-style: normal;
  text-decoration: none;
}
#profile-top #name-title a:hover {
  color: #2b9d53;
  text-decoration: underline;
}
#profile-top #name-title h3 {
  margin: 0px
}

#profile-top #profile-tabs {
  position: absolute;
  bottom: 0;
  left: 205px;
}
#profile-top #profile-tabs ul {
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}
#profile-top #profile-tabs ul li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}
#profile-top #profile-tabs ul li a {
  display: inline-block;
  width: auto;
  padding: 5px 10px 5px 10px;
  background: #686d75;
  color: #FFF;
  text-decoration: none;
  font-style: normal;
  border-radius: 9px 9px 0 0;
}
#profile-top #profile-tabs ul li.active a {
  background: #FFF;
  color: #4c8bed;
}

#profile-container h1,
#profile-container h2{
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 50px;
v}
#profile-container h2 {
  font-size: 40px;
}
#profile-container h3 {
  font-size: 24px;
  font-weight: normal;
  color: #000;
}

body.sidebar-second.page-user-profile #content .section {
  margin:0px;
}

body.page-user-profile #content {
  background-color: #304767;
}
body.spg-contact #content {
  background-color: #fff;
}

body.page-user-profile #content .content{
  background-color: #fff;
  float: left;
  padding: 40px;
}

#host-services, #recommendations {
  float:left;
  color: green;
  padding: 0px 5px;
}

#host-services {
  width: 52%;
  padding-right: 40px;
}

#recommendations {
  width: 38%;
}

#host-services h2, #recommendations h2 {
  padding-bottom: 0;
  border-bottom: 1px solid green;
  font-family: ASAP, sans-serif;
  font-size: 20px;
}
body.page-user-profile #main {
  margin-top: 47px;
}
body.page-user-profile #navigation .section {
  top: -124px;
}
body.page-user-profile h1.title {
  display: none;
}
/* Sidebar */
body.page-user-profile .region-sidebar-second {
  padding-top: 0;
  margin-top: -20px;
  font-size: 12px !important;
}
body.page-user-profile .region-sidebar-second .region-count-1 {
  background: #4c8bed;
  color: #304767;
  position: relative;
}
body.page-user-profile .region-sidebar-second .region-count-1 h2 {
  position: absolute;
  width: 240px;
  height: 35px;
  background: #4c8bed;
  color: #FFF;
  opacity: .85;
  top: 0;
  left: 0;
  text-align: center;
  margin: 0;
  line-height: 37px;
}
body.page-user-profile .region-sidebar-second .block .extra_div_wrapper {
  margin: 0 -14px -10px -14px;
  padding: 14px 14px 16px 14px;
  background: url(../../img/sidebar_second-bkg.png) top left repeat-y;
}
body.page-user-profile .region-sidebar-second .block .member-fullname {
  color: #FFF;
  margin-bottom: 10px;
  font-size: 14px !important;
}
body.page-user-profile .region-sidebar-second .block .member-map {
  margin: -10px -14px 0 -28px;
  border-top: 5px solid #276cc0;
  line-height: 0;
  border-bottom: 5px solid #276cc0;
}
body.page-user-profile .region-sidebar-second .block .member-address {
  margin-bottom: 10px;
}
body.page-user-profile .region-sidebar-second .block .member-phones {
  margin-bottom: -7px;
  color: #afd4ff;
}
body.page-user-profile .region-sidebar-second .block .member-phones .number {
  color: #FFF;
  font-size: 14px !important;
}
body.page-user-profile .region-sidebar-second .block .member-phones .phone {
  margin-bottom: 10px;
  font-size: 12px !important;
}
/* Hide tabs for everyone */
body.page-user-profile .tabs {
  display: none;
}
/* Show tabs to administrators */
body.page-user-profile.role-administrator .tabs {
  display: block;
}
body.page-user-profile.role-administrator .section > .tabs {
  margin: 0 20px 0 199px;
}
body.page-user-profile.role-administrator .section > .tabs ul.primary {
  background-image: none;
  background: #C6EDB0;
  border-right: 12px solid #E3F6D8;
  padding: 5px;
}
body.page-user-profile.role-administrator #content .section > .tabs ul.primary li a {
  font-weight: normal;
  font-style: normal;
  color: #000;
}

/* Recommendationas */
#recommendations table tr.even,
#recommendations table tr.odd {
  background-color: inherit;
  border-bottom: none;
}
#recommendations td {
  padding: 10px 0;
  color: #333;
  font-size: 12px;
  border-bottom: 1px dotted #999;
}
#recommendations td a {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
}
#recommendations p {
  margin: 5px 0 0 38px;
  line-height: normal;
}
#recommendations p a {
  color: #333;
  font-style: normal;
  text-decoration: none;
  font-size: 12px;
}
#recommendations img {
  float: left;
  margin-right: 8px;
}

/* Host Services */
#host-services div {
  border-bottom: 1px dotted #999;
  padding: 10px 0 10px 120px;
  position: relative;
  color: #FFF;
}
#host-services div * {
  display: none;
}
#host-services div .item-title {
  width: 110px;
  display: block;
  margin-left: -120px;
  color: #333;
  font-size: 11px;
  line-height: normal;
  float: left;
  text-align: right;
}
#host-services div .item-value {
  color: #019E3C;
  display: inline;
}
#host-services .member-info-preferred_notice {
  padding-top: 0;
}
#host-services div:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
#host-services h4 {
  clear: both;
}
#profile-container .jq-translate-ui {
  margin-bottom: 20px;
}


/* Actions section */
div.responsive-counts {
  padding-top: 10px;
}
.responsive-count {
  font-weight: bold;
}

/* Edit form for profile */
.highlight-notcurrentlyavailable-wrapper {background-color:	#FFFFB2}
