.friend{
float:left;
border:1px solid black;
margin:2px 4px 4px 0;
padding:5px;
border-radius:10px;
}

.friends_att{
width:200px;
}

.friend div{
float:left;
}

.clear{
clear:left;
}

.friend .friend_picture{
height:80px;
width:80px;
margin-right:5px;
}

.friend .friend_date{
font-size:10px;
}

.friends_list{
margin-bottom:10px;
float:left;
}

.flag-wrapper{
float:left;
clear:left;
}

.flag-wrapper a.flag{
margin-top:0;
}
