.favourites .views-row{
float:left;
border:1px solid black;
margin:2px 4px 4px 0;
padding:5px;
border-radius:10px;
}

.favourites .views-row .views-field-picture{
height:80px;
width:80px;
float:left;
}

.favourites .views-row .views-field-timestamp{
font-size:10px;
float:left;
clear:left;
}

.favourites .views-row .views-field-name{
float:left;
margin-left:5px;
}
