.container-inline input {
  width: auto;
  display: inline;
}

div#locationmap, div#locationset {
	width: 100%;
	height: 400px;
	padding: 5px;
}
#location_description {
	/* display:none; */
}

.debug {
	display: none;
}

