.container-inline input {
  width: auto;
  display: inline;
}

div#locationmap, div#locationset {
	width: 100%;
	height: 400px;
	padding: 5px;
}

#user-location-set-map-location div.form-item {
    display: inline-block;
}

#user-location-set-map-location #edit-submit {
    display: block;
}
