/* $Id: force_password_change_settings.css,v 1.2 2010/05/19 02:06:11 hakulicious Exp $ */

#force_password_roles
{
	overflow:auto;
}

#force_password_roles .form-item
{
	float:left;
	margin:0;
	clear:left;
}

#force_password_roles p
{
	margin:0 0 0 5px;
	float:left;
}