/**
 * @file
 * Styles for uc_product_kit module.
 */

#block-cart-contents .kit-component-cart-desc ul.product-description {
  padding-left: inherit;
  padding-right: 0;
}

#block-cart-contents .product-description .kit-component-cart-desc ul:before {
  margin-right: auto;
  margin-left: 0.15em;
}

.kit-component-cart-desc .item-list li {
  padding-left: inherit;
  padding-right: 0;
}
