div.views-rotator-item,
div#views-rotator {
  margin: 0;
  padding: 0;
}

a.views-rotator-prev,
a.views-rotator-next {
  height: 0;
}

a.views-rotator-prev {
  background: url(images/prev.jpg) left 50% no-repeat;
}

a.views-rotator-next {
  background: url(images/next.jpg) right 50% no-repeat;
}

a.views-rotator-prev-hover,
a.views-rotator-next-hover {
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 1000;
}

a.views-rotator-prev-hover {
  margin: 10px 0 0 10px;
}

a.views-rotator-next-hover {
  margin: 10px 0 0 42px;
}