/***
 * Anonymous Homepage
 */
.not-logged-in {

  .region-highlighted {

    .block {
      height: 80px;
    }

    .block-wrapper {
      background: none;
      padding: 0;
    }
  }
}

/* Welcome Message */
.region-highlighted {

  .welcome-msg {
    color: #a2c2e4;
    font-size: 13px;
    line-height: 19px;
    padding: 0 15px;

    strong {
      color: #FFF;
      font-weight: normal;
    }
  }
}

/* Member Count Block */
.region-highlighted {

  .block-delta--ws-member-stats-block {
    @include zen-grid-container();
    background: none;
    color: #a2c2e4;
    border-right: 1px solid $white;
    padding: 0;

    .numusers,
    .numhosts {
      @include zen-float();
      text-transform: uppercase;
      font-size: 12px;
      text-align: right;
      padding: 15px 10px;
      margin: 0;
    }

    .big_number {
      font-size: 36px;
      color: $white;
      font-family: 'Sue Ellen Francisco', cursive;
    }
  }
}

/* Sidebar Second */
.front.not-logged-in .region-sidebar-second .block,
.front.not-logged-in .region-sidebar-second .block .block-wrapper {
  background: none;
}
.front.not-logged-in .region-sidebar-second .block h2 {
  font-size: 32px;
  color: $white;
  font-family: 'Sue Ellen Francisco', cursive;
  font-weight: normal;
  line-height: 1.6em;
}

/* Content Area */
.front.not-logged-in #content {
  background: none;
}
.front.not-logged-in #content .section {
  margin: 0;
}