/***
 * Anonymous Homepage
 */

/* Highlight Region */
body.front.not-logged-in #highlight_wrapper_anon {
  position: relative;
  height: 91px;
  margin-top: 24px;
}
body.not-logged-in .region-highlight .block {
  height: auto;
  margin-top: 0;
}

/* Welcome Message */
body.front.not-logged-in #highlight_wrapper_anon .welcome_msg {
  position: absolute;
  top: 0;
  left: 205px;
  width: 495px;
  color: #a2c2e4;
  font-size: 13px;
  line-height: 19px;
}
body.front.not-logged-in #highlight_wrapper_anon .welcome_msg strong {
  color: $white;
  font-weight: normal;
}

/* Member Count Block */
body.front.not-logged-in #highlight_wrapper_anon #block-wsuser-wsuser_member_count_block {
  width: 185px;
  height: 100px;
  float: none;
  margin: 0;
  overflow: inherit;
  background: none;
  color: #a2c2e4;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid $white;
}
body.front.not-logged-in #highlight_wrapper_anon #block-wsuser-wsuser_member_count_block .numusers,
body.front.not-logged-in #highlight_wrapper_anon #block-wsuser-wsuser_member_count_block .numhosts {
  position: absolute;
  height: 45px;
  bottom: -5px;
  right: 15px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: right;
}
body.front.not-logged-in #highlight_wrapper_anon #block-wsuser-wsuser_member_count_block .numhosts {
  bottom: 50px;
}
body.front.not-logged-in #highlight_wrapper_anon #block-wsuser-wsuser_member_count_block .big_number {
  font-size: 30px;
  color: $white;
  font-family: 'Sue Ellen Francisco', cursive;
}

/* Sidebar Second */
body.front.not-logged-in .region-sidebar-second {
  position: relative;
  margin-top: -133px;
  padding-top: 0;
}
body.front.not-logged-in .region-sidebar-second .block,
body.front.not-logged-in .region-sidebar-second .block .block-wrapper {
  background: none;
}
body.front.not-logged-in .region-sidebar-second .block h2 {
  font-size: 32px;
  color: $white;
  font-family: 'Sue Ellen Francisco', cursive;
  font-weight: normal;
  line-height: 1.6em;
}

/* Content Area */
body.front.not-logged-in #content {
  background: none;
}
body.front.not-logged-in #content .section {
  margin: 0;
}

/* Not sure? */
body.not-logged-in #block-views-unauth_content-block_1 {
  position: absolute;
  top: 200px;
  background: none;
}
body.not-logged-in #block-views-unauth_content-block_1 .block-wrapper {
  background: none;
}
body.not-logged-in #block-views-unauth_content-block_1 img {
  width: 100%;
  height: auto;
}