/** Donations Thermometer **/
.donations_thermometer .gauge-Small{
  width: 25px;
  height: 144px;
  position:relative;
  background: #333 url('../../images/gauge-small.gif') top left no-repeat;
  float:left;
  bottom: 1em;

  .current-value {
    position:absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background: red url('../../images/gauge-small.gif') bottom right no-repeat;
  }

  .donations-text-status {
    padding-left: 20px;
    margin-left: 20px;
    bottom: 1em;
  }

  .donations_header,
  .donations_thermometer-amount {
    font-weight: bold;
  }
}