/** Donations Thermometer **/
.donations_thermometer .gauge-Small{
  width: 25px;
  height: 144px;
  position:relative;
  background: #333 url('../../images/gauge-small.gif') top left no-repeat;
  float:left;
  bottom: 1em;

  .current-value {
    position:absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background: red url('../../images/gauge-small.gif') bottom right no-repeat;
  }

  .donations-text-status {
    padding-left: 20px;
    margin-left: 20px;
    bottom: 1em;
  }

  .donations_header,
  .donations_thermometer-amount {
    font-weight: bold;
  }
}

/* WS map & search blocks */
.region-sidebar-first {

  .block-wsmap {
    background: $white;
    border: 0;
    margin-right: -20px;

    .block-wrapper {
      background: none;
    }
  }

  .block-delta--wsuser-search-block {

    h2 {
      margin: -10px -22px -20px 0;
      padding: 10px 22px 20px 0;
      background: url('../img/search.png')  right -4px no-repeat;
    }

    .form-wrapper {
      padding: 10px;

      .fieldset-wrapper {
        max-width: 150px;

        .form-item {
          margin: 1em 0;
        }
      }
    }
  }
}

/* Make the linkbuttons in the welcome block a little smaller so they fit */
.i18n-de .block-delta--wsuser-member-welcome-block a.linkbutton {
  padding: 5px;
  margin-right: 5px;
  margin-top: 5px;
}