
.view-donation-page {

  .views-table {

    td {
      padding: 20px 10px;
    }
  }

  tr {

    td:nth-child(1) {
      text-align: center;
      font-size: xlarge;
    }

    td:nth-child(3) {
      font-weight: bold;
    }
  }

    .views-field-field-amount-description {
      width: 15%;
    }

    .views-field-addtocartlink {
      width: 25%;
    }

    .views-field-title {
       width: 15%;
    }

    .views-field-body-1 {
       //width: 40%;
    }


  // special color for second row - 
  tr:nth-child(2), tr:nth-child(2) td {
    background: rgba(38, 106, 207, 0.2) !important;
  }

  /* Style the buttons on the page */
  input[type=submit] {
    /* background-color: #266acf;  */
    border-radius:6px;
    border: 0px #266acf solid;
    padding: 6px 9px;
    background-color: #266acf;
    color: $white;
    font-size: 16px;
    text-decoration: none;
    /* border:none; */

    &:hover,
    &:active {
     //border-color: #266acf;
      background-color: #5790e6;
      //color: $white;
    }
  }

  
}



#checkout-form-bottom #edit-cancel {
  display: none;
}

span#paypal-includes {
  display:none;
}