/***
*	FAQ
*/

.faq-content {}

	.faq-category-group {}

		.faq-qa-header {}

		.faq-qa {}

			.faq-question {
				padding-left: 0px;
			}

			.faq-answer {
				padding-bottom: 10px;
				padding-left: 0;
				margin: 10px 20px;
				border-bottom: 1px solid $green;
			}