/***
 * Styles for the Feedback View Page
 */
.page-user-feedback {

  .view-member-feedback {

    #feedback_received {
      margin-top: 0;
      display: inline-block;
    }
  }

  .feedback_given_link {
    float: right;
    display: inline-block;

    &:after {
      content: " \2193";
    }
  }

  .item-list {

    ul {
      list-style: none;
      padding: 0;

      .views-row {
        @include zen-grid-container();
        border-bottom: 1px solid #CCC;
        padding: 0.6em 0;

        &.views-row-odd {
          background-color: #EEE;
        }

        .views-field {
          // @include zen-float();
          //@include zen-grid-flow-item(1, 12, false, true);

          &.views-field-field-rating {
            
            @include zen-grid-item(2, 1);
            
            div > span {
              padding: 4px;
              margin-top: 4px;
              line-height: 32px;
            }

            .feedback-Negative {
              background-color: $red;
              color: $white;
            }
            
            .feedback-Neutral {
              background-color: $dark-gray;
              color: $white;
            }
            
            .feedback-Positive {
              background-color: $light-green;
              color: $white;
            }
          }

          &.views-field-fullname {
            //@include zen-grid-flow-item(2, 12, false, true);
            @include zen-grid-item(2, 3);
          }

          &.views-field-body {
            //@include zen-grid-flow-item(6, 12, false, true);
            @include zen-grid-item(5, 5);
          }

          &.views-field-field-contest-photo {
            @include zen-grid-item(2, 10);
          }
          &.views-field-edit-node,
          &.views-field-delete-node,
          &.views-field-view-node {
            //@include zen-grid-flow-item(1, 12, false, false);
            @include zen-clear(right);
            @include zen-grid-item(1, 1, right);
          }

          padding: 0 0.5em;

        }
      }
    }
  }
}
