/***
 * Styles for the Feedback View Page
 */
.page-user-feedback {

  .view-member-feedback {

    .item-list {

      ul {
        list-style: none;
        padding: 0;

        .views-row {
          @include zen-grid-container();
          border-bottom: 1px solid #CCC;
          padding: 0.1em 0;

          &.views-row-odd {
            background-color: #EEE;
          }

          .views-field {
            @include zen-float();
            @include zen-grid-flow-item(1, 12, false, true);

            &.views-field-body {
              @include zen-grid-flow-item(7, 12, false, true);
            }
            &.views-field-view-node {
              @include zen-grid-flow-item(1, 12, false, false);
            }
          }
        }
      }
    }
  }
}