






/***
* Advanced Forum theming
* I gave up trying to create a proper Advance Forum theme
* reasons:  - weird hard to work with structure
*			- hard to override values because of the 'stacked' extra
*			- Lack of sass support
*/


$forum-color: #eaeaea;
$forum-light-color: #f4f4f4;
$forum-darker-color: #ccc;
$forum-accent-color: $green;

$forum-text-color: $page-bkg;

$forum-spacing: 20px;


/*** MAIN *******************************************************************/

.breadcrumb {
	width: 70%;

	a:visited {
		color: $green;
	}
}

.page-forum,
.node-type-forum,
.page-comment-reply,
.page-node-add-forum {

	.content-area {

		position: relative; // for search field

		h1 {
			margin-top: 0;
		}
	}
}


/* Search field */
.block-delta--ws-forum-search-form {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: $forum-spacing;
	margin-right: $forum-spacing;
}


/*** FORUM TABLE ************************************************************/

#forum {

}
	.forum-table-wrap {
		border-top: 2px solid $forum-accent-color;
		border-bottom: 2px solid rgba( $forum-accent-color, .4 );
		margin-bottom: 25px;
	}
		.forum-table-superheader {

			background-color: $forum-light-color;

			.forum-table-name {

				a {
					text-decoration: none;
				}
			}
		}

		.forum-table {

			tbody {

				tr {
					border: 0;

					&.odd {
						background-color: $forum-light-color;
					}

					td {
						padding: 10px 5px;
					}
				}
			}
		}
			.forum-header {
				background-color: $forum-color;
				border-bottom: 1px solid $forum-darker-color;

				th.forum-last-post {
					padding-left: 15px;
				}
			}

					td.forum-list-icon {
						padding: 10px 20px !important;
					}

					td.forum-details {

						.forum-name {
							a {
								font-weight: bold;
							}
						}

						.forum-description {
							font-size: 0.9em;
							line-height: 1.4em;
						}

						.forum-subforums {
							margin: 0;
							padding-top: 8px;
						}
					}

					td.forum-number-topics {}

					td.forum-number-posts {}

					td.forum-last-reply {
						padding-left: 15px !important;
					}

					td.views-field-last-updated,
					td.forum-last-reply {
						font-size: 0.9em;

						a:first-child {
							font-size: 1rem;
						}
					}

					.forum-number-new-topics,
					.views-field-comment-count a {
						font-size: 0.9em;
					}


	.forum-tools {
		margin: 10px 0;
	}

	#forum-sort {
		margin: 10px 0;
	}

	.forum-list-icon-legend,
	.forum-topic-legend {
		font-size: 0.9em;
	}

	.forum-topic-legend {
		div {
			padding-left: 30px;
		}
	}


/*** TOPIC LIST *************************************************************/

.forum-node-create-links,
.forum-node-create-links-top,
#forum-pager-top .pager {
	padding-top: 0px;
	margin: 11px 0;
}

.view-advanced-forum-topic-list {}

.forum-topic-list {}

	.sticky-header {

		th.views-field-title {
			text-align: left;
		}
		th.views-field-last-updated {
			text-align: left;
		}
	}

	.forum-table-topics {
		width: 100%;
		border-top: 1px solid $forum-accent-color;
		border-bottom: 1px solid rgba( $forum-accent-color, .4 );

		td.active {
			background-color: inherit;
		}



		th.views-field-comment-count {
			width: 15%;
			text-align: center;
		}

		th.views-field-last-updated {
			text-align: left;
		}

		.views-field-title {
			font-weight: normal;
			width: 65%;

			a:first-child {
				font-weight: bold;
			}
		}
	}

	.sticky-header,
	.forum-table-topics {

		thead {
			background-color: $forum-color;
			border-bottom: 1px solid $forum-darker-color;

			a {
				text-decoration: none;
			}
		}
	}

	mark.updated {
		color: $forum-accent-color;
		background: none;
	}

	mark.new,
	mark.updated {
		padding-left: 5px;
	}


/*** PAGER ******************************************************************/

#forum-comments .indented {
	margin-left: 20px;
	margin-bottom: 20px;
}

/*** FORUM TOPICS **********************************************************/

div.forum-post {
	//border: 2px solid $forum-color;
	border-top: 2px solid $forum-accent-color;
	border-bottom: 2px solid rgba( $forum-accent-color, .4 );
	margin-bottom: $forum-spacing/2;


}

	/* Header at the top of each post */
	.forum-post-info {
	  border: 0;
	  background: $forum-color;
	  color: $forum-text-color;
	  font-weight: normal;
	  font-family: Verdana;

		a {
			font-size: 0.8em;
		}
	}

		.forum-posted-on {
			margin-top: 1px;
		}

	/* Wrapper around author pane and content */
	.forum-post-wrapper {
	  //background-color: $forum-light-color;
	}

		/* Post text area */
		.forum-post-panel-main {
			background-color: $white;
			border-left: 1px solid $forum-color;
			margin-left: 120px;

			.forum-post-content {
				padding: $forum-spacing;
			}

			.post-edited {
				padding: $forum-spacing;
			}

		}

		.forum-post-panel-sub {
		  border: 0;
		  //background-color: $forum-light-color;
		  border-bottom: 0;

		  width: 120px;

		  .author-pane {
		  	padding: $forum-spacing $forum-spacing $forum-spacing/2;
		  	margin: 0;
		  	text-align: center;

		  	.user-picture {
		  		padding: 4px;
		  		margin: 4px;
		  		margin-top: 10px;
		  		border: 1px solid $forum-color;
		  		display: inline-block;

		  		img {
		  			width: initial;
		  		}
		  	}
		  }
		}

		.forum-post-title,
		.post-title {
		  font-weight: bold;
		  border-bottom: 0;
		  background-color: $forum-light-color;

		  padding: 2px $forum-spacing;
		}

	/* Post footer */
	.forum-post-footer {
	  background-color: $forum-light-color;
	  border-top: 0;
	  font-size: 12px;

	  padding: 2px;

	  .flag-throbber {
	  	display: none;
	  }
	}

		.forum-post-links {
			margin-top: 5px;
			margin-right: 2px;

			.inline li {
				&:last-child {
					padding-right:0;
				}
			}
		}



/*** POST REPLY ***************************************************/

.comment-form {

	.form-item-notify {

	}
}

#edit-notify-type {

	padding-left: 20px;
	margin-bottom: 20px;

	.form-item-notify-type {
		display: block;
		margin: 5px 0;
	}
}

/*** BUTTONIZED LINKS - GENERAL ***********************************************/

a.af-button-large,
a.af-button-large:link,
a.af-button-large:visited,
a.af-button-small,
a.af-button-small:link,
a.af-button-small:visited,
a.author-pane-link,
a.author-pane-link:link,
a.author-pane-link:visited {
  //color: $forum-accent-color;
  text-decoration: none;
}

.af-button-large,
.af-button-small,
.author-pane-link,
div.forum-post a.linkbutton {
  border: 1px solid $forum-accent-color;
  background: transparent;
  color: $forum-accent-color;
  border-radius: 5px;
  box-shadow: none;
  text-shadow: none;
  text-decoration: none;
  vertical-align: middle;

  padding: 4px;
  margin: 0;
  //font-size: 12px;

  &:visited {
  	color: $forum-accent-color;
  }

  &:hover,
  &:active {
  	background: $forum-accent-color;
	color: $white;
	border-color: $forum-accent-color;
  }
}


