/***
* 	Maintenance Page
*/


.maintenance-page {

	background-color: #eee;

	#page {
		width: 600px;
		margin: 100px auto;
		padding: 80px 60px;
		background: $white;
		border-radius: 6px;

		#header {
			
			h1 {
				margin: 0;
				margin-left: -6px;
				font-family: $cursive;
				font-size: 70px;
				font-weight: normal;
				line-height: 1em;
				
				a {
					text-decoration: none;
					color: #6aaf67;
				}
			}

		}

		#main  {

			#content {
				font-size: 18px;

				p {
					margin: 1.2em 0;
				}

				a {
					font-style: normal;
				}
			}

			h1 {
				font-weight: normal;
				font-size: 26px;
				margin-bottom: 0;
				margin-top: 1.6em;
			}			
		}
	}
}