/***
 * Styles for the Profile Pages
 */
.page-user-profile {

  .region-highlighted {

    .block {
      @include zen-float();
      @include zen-grid-flow-item(12, 12);
    }
  }
}

.host-services {
  @include zen-grid-item(6, 1);
}
.recommendations {
  @include zen-grid-item(6, 7);
}

// Profile highlight
.page-user-profile {

  .region-highlighted {

    .block {
      padding: rhythm(1);

      .block-wrapper {
        background: none;
        padding: 0;
      }
    }
  }
}

.region-highlighted {
  .profile-highlight {
    height: 160px;
    margin: 0;
    position: relative;
    z-index: 0;
    background: #c6edb0;
    border-right: 12px solid #e3f6d8;

    .profile-image {
      position: relative;
      z-index: 10;
      top: -20px;
      left: 0;
      width: 179px;
      height: 200px;
      background: #4c8bed;

      img {
        border: 1px solid black;
      }
    }

    .name-title {
      width: 452px;
      position: absolute;
      top: 15px;
      left: 205px;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top: 7px;
        padding-top: 7px;
        border-top: 1px dotted #676767;
      }

      li {
        display: inline;
        margin: 0;
        padding: 0 3px;
        border-right: 1px dotted #676767;
        border-bottom: 0;
        background: none;

        &.last {
          border-right: none;
        }
      }

      em,
      a {
        color: #676767;
        font-style: normal;
        text-decoration: none;

        &:hover {
          color: #2b9d53;
          text-decoration: underline;
          background: none;
        }
      }

      h3 {
        margin: 0px
      }
    }
  }
}

// Profile tabs
.page-user-profile {

  .tab-area {
    position: relative;
    height: 30px;
    left: 205px;

    ul {
      width: auto;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline;
        text-shadow: none;
        border: 0;
        background: none;

        a {
          display: inline-block;
          width: auto;
          padding: rhythm(0.25) rhythm(1);
          background: #686d75;
          color: $white;
          text-decoration: none;
          font-style: normal;
          border-radius: 9px 9px 0 0;
          border: 0;
        }

        &.active {
          a {
            background: $white;
            color: #4c8bed;
          }
        }
      }
    }
  }
}

/* Main profile */
.page-user-profile {

  .main {
    margin-top: -30px;

    h1,
    h2 {
      font-family: 'Sue Ellen Francisco', cursive;
      font-size: 50px;
    }

    h3 {
      font-size: 24px;
      font-weight: normal;
      color: #000;
    }
  }
}

.spg-contact .content {
  background-color: $white;
}

/* Sidebar */
.page-user-profile {

  h1.title {
    display: none;
  }

  .navigation {

    .section {
      top: -124px;
    }
  }

  .content {

    .content{
      background-color: $white;
      float: left;
      padding: 40px;
    }
  }

  .region-sidebar-second {
    padding-top: 0;
    margin-left: 0;
    background-color: $white;

    .region-count-1 {
      background: $white;
      color: $page_bkg;
      position: relative;

      h2 {
        position: absolute;
        //width: 240px;
        height: 35px;
        background: #4c8bed;
        color: $white;
        opacity: .85;
        top: 0;
        left: 0;
        text-align: center;
        margin: 0;
        line-height: 37px;
      }
    }

    .block {

      .extra_div_wrapper {
        margin: 0 -14px -10px -14px;
        padding: 14px 14px 16px 14px;
        background: url(../img/sidebar_second-bkg.png) top left repeat-y;
      }

      .member-fullname {
        color: $white;
        margin-bottom: 10px;
        font-size: 14px !important;
      }

      .member-map {
        margin: -10px -14px 0 -28px;
        border-top: 5px solid #276cc0;
        line-height: 0;
        border-bottom: 5px solid #276cc0;
      }

      .member-address {
        margin-bottom: 10px;
      }

      .member-phones {
        margin-bottom: -7px;
        color: #afd4ff;

        .phone {
          margin-bottom: 10px;
        }
      }

      .number {
        color: $white;
      }
    }
  }

  &.role-administrator {

    .section > .tabs {
      margin: 0 20px 0 199px;

      ul.primary {
        background-image: none;
        background: #C6EDB0;
        border-right: 12px solid #E3F6D8;
        padding: 5px;

        li {
          a {
            font-weight: normal;
            font-style: normal;
            color: #000;
          }
        }
      }
    }
  }
}

/* Recommendationas */
.recommendations {
  color: green;

  h2 {
    padding-bottom: 0;
    border-bottom: 1px solid green;
    font-family: ASAP, sans-serif;
    font-size: 20px;
  }

  tr.even,
  tr.odd {
    background-color: inherit;
    border-bottom: none;
  }
  td {
    padding: 10px 0;
    color: #333;
    font-size: 12px;
    border-bottom: 1px dotted #999;

    a {
      font-style: normal;
      text-decoration: none;
      font-size: 14px;
    }

    p {
      margin: 5px 0 0 38px;
      line-height: normal;

      a {
        color: #333;
        font-style: normal;
        text-decoration: none;
        font-size: 12px;
      }
    }

    img {
      float: left;
      margin-right: 8px;
    }
  }
}

/* Host Services */
.host-services {
  color: green;

  h2 {
    padding-bottom: 0;
    border-bottom: 1px solid green;
    font-family: ASAP, sans-serif;
    font-size: 20px;
  }

  div {
    border-bottom: 1px dotted #999;
    padding: 10px 0 10px 120px;
    position: relative;
    color: $white;

    .item-title {
      width: 110px;
      display: block;
      margin-left: -120px;
      color: #333;
      font-size: 11px;
      line-height: normal;
      float: left;
      text-align: right;
    }

    .item-value {
      color: $green;
      display: inline;
    }

    .member-info-preferred_notice {
      padding-top: 0;
    }
  }
}

/* Actions section */
.responsive-counts {
  padding-top: 10px;
}
.responsive-count {
  font-weight: bold;
}


/* Edit form for profile */
.highlight-notcurrentlyavailable-wrapper {
  background-color:	#FFFFB2
}

