/***
 * Styles for the Profile Pages
 */


// Profile highlight
.page-user-profile {

  .region-highlighted {

    .block {
      padding: 20px;
      margin-bottom: 0;

      .block-wrapper {
        background: none;
        padding: 0;
      }
    }
  }
}

.main-wrapper {

  .region-highlighted {
    margin-bottom: 0;
  }
}

.region-highlighted {

  .profile-highlight {
    //height: 160px;
    margin: 0 0 0 20px;
    position: relative;
    z-index: 0;
    background: #c6edb0;
    border-right: 12px solid #e3f6d8;
    font-size: 1.5em;

    .profile-image {
      position: relative;
      z-index: 10;
      top: -20px;
      //left: 20px;
      width: 160px;
      height: 220px;
      background: #ddd;
      overflow: hidden;

      .photo-scolding {
        margin: 10px;
        //padding: 10px;
        //border: 3px $red solid;
        font-size: 12px;
        line-height: 1.5em;
        color: $red;

        &:before {
          display: block;
          content: "";
          border-top: 1px $red solid;
          width: 100%;
          height: 2px;
          overflow: hidden;
        }

        a, a:visited {
          padding-top: 4px;
          display: block;
          color: $green;
        }


      }

      img {
        border: 0px solid black;
      }

      p {
        margin: 1em;
      }
    }

    .name-title {
      width: 452px;
      position: absolute;
      top: 15px;
      left: 185px;
      line-height: 0px; // Set line-height of parent to affect <li>'s line-height

      h3 {
        font-weight: normal;
        color: $page-bkg;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top: 7px;
        padding-top: 8px;
        border-top: 1px dotted #676767;

      }

      li {
        display: inline;
        margin: 0;
        padding: 0 7px 0 0;
        margin-right: 2px;
        border-right: 1px dotted #676767;
        border-bottom: 0;
        background: none;
        cursor: auto;

        //color: $page-bkg;
        line-height: 1.6em;
        font-size: 11px;

        &.last {
          border-right: none;
        }

        &:hover {
          background-color: transparent;
        }
      }

      em {
        font-style: italic;
      }

      a {
       // color: $page-bkg;//#676767;
        font-style: normal;
        text-decoration: none;

        &:hover {
          //color: #2b9d53;
          text-decoration: underline;
          background: none;
          background-color: none;
        }
      }

      h3 {
        margin: 0px
      }
    }
  }
}

// Profile tabs
.page-user-profile {

  .tab-area {
    position: relative;
   //height: 30px;
    left: 203px;
    overflow: hidden;

    ul {
      width: auto;
      margin: 0;
      padding: 0;
      list-style: none;
      background: none;

      li {
        display: inline;
        text-shadow: none;
        border: 0;
        background: none;

        a {
          display: inline-block;
          width: auto;
          padding: 0.333em rhythm(0.5) 0.2em;
          background: #686d75;
          color: $white;
          text-decoration: none;
          font-style: normal;
          font-size: 13px;
          border-radius: 9px 9px 0 0;
          border: 0;

          &.active, &.active:hover {           
              background: $white;
              color: #4c8bed;

          }

          &:hover {
            background: #8c8f93;
          }
        }
      }
    }
  }
}

/* Main profile */
.page-user-profile {

  .main {
    margin-top: -26px;

    .profile-wrapper {
      margin-top: 10px;
    }

    .host-about {
      @include zen-grid-item(12, 1);
      margin-bottom: 30px;
    }

    h1,
    h2 {
      //font-family: 'Sue Ellen Francisco', cursive;
      font-family: ASAP, sans-serif;
      font-size: 24px;
      font-weight: normal;
      line-height: 1em;

      margin: 0 0;
      padding-bottom: 2px;
      margin-bottom: 10px;
    }



    h3 {
      font-size: 24px;
      font-weight: normal;
      color: #000;
    }
  }
}

.spg-contact .content {
  background-color: $white;
}

/* Sidebar */
.page-user-profile {

  h1.title {
    display: none;
  }

  .navigation {

    .section {
      top: -124px;
    }
  }

  .content {

    .content{
      background-color: $white;
      float: left;
      padding: 40px;
    }
  }

  .region-sidebar-second {
    padding-top: 0;
    margin-left: -$zen-gutter-width ;
    //background-color: $white;

    .region-count-1 {
      background: $white;
      color: $page_bkg;
      position: relative;

      h2 {
        position: absolute;
        //width: 240px;
        height: 35px;
        background: #4c8bed;
        color: $white;
        opacity: .85;
        top: 0;
        left: 0;
        text-align: center;
        margin: 0;
        line-height: 37px;
      }
    }

    .block-delta--wsuser-member-contact-location {
      background-color: #4c8bed;
    }

    .block {

      h2 {
        color: $white;
        line-height: 1em;
      }

      .content { // donate
        font-size: 12px;
        line-height: 1.5em;

        a {
          color: $white;
        }
      }

      .extra_div_wrapper {
        margin: 0 -14px -10px -14px;
        padding: 14px 14px 16px 14px;
        background: url(../img/sidebar_second-bkg.png) top left repeat-y;
      }

      .member-fullname {
        color: $white;
        margin-bottom: 10px;
        font-size: 14px !important;
      }

      .member-map {
        margin: 8px -14px 0 -28px;
       //border-top: 5px solid #276cc0;
        line-height: 0;
       // border-bottom: 5px solid #276cc0;
      }

      .member-address {
        margin-bottom: 10px;
      }

      .member-phones {
        margin-bottom: -7px;
        color: #afd4ff;

        .phone {
          margin-bottom: 10px;
        }

        .number {
          color: $white;
          font-size: 14px;
        }
      }



      .member-address, .member-phones, .responsive-counts {
        font-size: 12px;
        line-height: 1.5em;
        color: $page-bkg;
      }
    }
  }

  &.role-administrator {

    .section > .tabs {
      margin: 0 20px 0 199px;

      ul.primary {
        background-image: none;
        background: #C6EDB0;
        border-right: 12px solid #E3F6D8;
        padding: 5px;

        li {
          a {
            font-weight: normal;
            font-style: normal;
            color: #000;
          }
        }
      }
    }
  }
}

/* Recommendationas */
.recommendations {

  @include zen-grid-item(6, 7);

  color: green;

  h2 {
    padding-bottom: 0;
    border-bottom: 1px solid green;
    font-family: ASAP, sans-serif;
    font-size: 20px;
  }

  .view-member-feedback {

    padding-top: 10px;

    ul {
      list-style: none;
      padding-left: 0;

      .views-row {
        list-style: none;
        padding: 10px 0;
        color: #333;
        font-size: 12px;
        border-bottom: 1px dotted #999;

        .views-field-picture {
          float: left;
          margin-right: 1em;
          margin-top: 5px;
          max-width: 30px;
        }

        a {
          font-style: normal;
          font-size: 14px;
        }

        .views-field-fullname a {
          color: $green;
        }

        .views-field-field-rating,
        .views-field-field-hosting-date {
          float: right;
          margin-left: 8px;
        }

        .views-field-body {
          margin-top: 6px;
          line-height: normal;
          display: block;
          padding-left: 42px;

          a {
            color: $page-bkg;
            font-style: normal;
            text-decoration: none;
            font-size: 12px;

            &:hover {
              color: $green;
            }
          }
        }
      }
    }
  }
}

/* Host Services */
.host-services {

  @include zen-clear();
  @include zen-grid-item(6, 1);

  color: green;

  h2 {
    padding-bottom: 0;
    border-bottom: 1px solid green;
    font-family: ASAP, sans-serif;
    font-size: 20px;
  }

  div {
    border-bottom: 1px dotted #999;
    padding: 10px 10px 10px 120px;
    position: relative;
    color: $white;
    //vertical-align: middle;

    .item-title {
      width: 100px;
      display: block;
      margin-left: -120px;
      color: $page-bkg;
      font-size: 11px;
      line-height: normal;
      float: left;
      text-align: right;
      padding-top: 5px;
    }

    .item-value {
      color: $green;
      display: inline;
    }

    .member-info-preferred_notice {
      padding-top: 0;
    }
  }

  .host-unavailable {
    color: $red;
    padding: 10px 0 10px 0;
  }
}

/* Actions section */
.responsive-counts {
  padding-top: 10px;
}
.responsive-count {
  font-weight: bold;
}


/* Edit form for profile */
.highlight-notcurrentlyavailable-wrapper {
  background-color:	#FFFFB2
}

