/***
 * Footer Styles
 */

.footer-wrapper {
  margin-top: 20px;
  background: $dark_blue url(../img/footer-top-border.png) no-repeat top;
  padding: 30px 20px;
  margin-bottom: 0;
  margin-left: $zen-gutter-width/2;
  margin-right: $zen-gutter-width/2;
  font-weight: normal;
  position: relative;
}

#footer {
  color: $white;

  .block-menu {
    @include zen-grid-item(12, 1);

    ul {
      margin-top:30px;
      padding: 0px;

      li {
        &.first {
          padding-left: 0;
        }

        display: inline;
        padding: 0 20px;
        border-right: 1px solid #8b9eba;
        font-family: $font-body;

        &.last {
          border:none;
        }
      }
    }

    a {
      color: #8b9eba;
      text-decoration: none;

      &:hover {
        color: $white;
        text-decoration: underline;
      }
      &.active {
        color: $white;
      }
    }
  }
}

.footer__title {
  @include zen-grid-item(9, 1);
  position: relative;
  font-family: $font-special;
  margin: 0;
  font-weight: normal;
}

.footer__social-menu  {
  @include zen-grid-item(3, 1, right);

  .menu {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: right;
  }

  li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 4px;

    a {
      display: inline-block;
      
      width: 24px;
      height: 20px;
      padding: 8px 6px;
      border-radius: 4px;

      &:after {
        content: "";
        display: block;
        position: absolute;
        background: url(../img/footer_social.png) no-repeat;
        width: 24px;
        height: 20px;
        
      }

      &.social_fb { 
        background-color: #377eb7;
      }

      &.social_tw {
        background-color: #4695d2;
        &:after { background-position: -24px 0; }
      }
      &.social_rs {
        background-color: #f09933;
        &:after { background-position: -48px 0; }
      }
      .ext {
        display: none;
      }
    }
  }
}

.region-footer {
  @include zen-clear();
  @include zen-grid-item(12, 1);
  @include zen-nested-container();
}
