/***
 * Footer Styles
 */

.footer.wrapper {
  margin-top: 40px;
  background: $dark_blue url(../img/footer-top-border.png) no-repeat top;
  padding: 30px 0px 20px 20px;
  color: $white;
  font-weight: normal;
  position: relative;
}

.footer {
  
  .footer-title {
    @include zen-grid-item(9, 1);
    position: relative;
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 26px;
    font-weight: normal;
  }
  
  ul.social {
    @include zen-grid-item(3, 10);
    position: relative;
    margin: 0;
    padding: 0;
    
    li {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;
      
      a {
        display: inline-block;
        background: url(../img/fb.png) left 6px no-repeat;
        width: 50px;
        height: 41px;
        
        &.social_tw {
          background-image: url(../img/tw.png);
        }
        &.social_rs {
          background-image: url(../img/rs.png);
        }
      }
    }
  }
  
  .region-footer {
    @include zen-clear();
    @include zen-grid-item(12, 1);
    @include zen-nested-container();
  }
  .block-menu {
    @include zen-grid-item(12, 1);
    
    ul {
      margin-top:30px;
      padding: 0px;
      
      li {
        &.first {
          padding-left: 0;
        }
        
        display: inline;
        padding: 0 20px;
        border-right: 1px solid #8b9eba;
        font-family: 'Asap', Arial, sans-serif;
        
        &.last {
          border:none;
        }
      }
    }
    
    a {
      color: #8b9eba;
      text-decoration: none;
      
      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }
  }
}