/***
 * Header Styles
 *
 * If it is styled in the Header, you should find it here.
 */

/* Layout classes */
.header__site-logo {
  @include zen-grid-item(6, 1);
}

.header__region {
  @include zen-grid-item(6, 1, right);
}

.header__signpost {
  @include zen-clear();
  @include zen-grid-item(4, 1);
}

.header__primary-navbar {
  @include zen-grid-item(8, 5);
}

.logged-in {

  .header__primary-navbar {
    @include zen-clear(right);
    @include zen-grid-item(6, 1, right);
  }
}

/* Header classes */
.header-wrapper {
  background: $blue url('../img/header-bkg.jpg') 85% bottom no-repeat;
  min-width: 1024px;
  margin-bottom: 30px;
}

.logged-in .header-wrapper {
  background: $blue url(../img/header-bkg-loggedin.jpg) 125% bottom no-repeat;
}

@media screen and (min-width: 1300px) {
  .logged-in .header-wrapper {
    background: $blue url(../img/header-bkg-loggedin.jpg) 85% bottom no-repeat;
  }
}

.header {
  position: relative;
}
.logged-in .header {
  //min-height: 161px;
}

.header__site-logo {
  position: relative;

  .header__logo {
    display: block;
    position: relative;
    top: 20px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .header__site-name-and-slogan {
    position: absolute;
    top: 12px;
    left: 72px;

    a,
    a:link,
    a:visited {
      color: #009835;
      text-decoration: none;
    }
  }

  .header__site-name {
    font-family: $font-special;
    font-size: 70px;
    font-weight: normal;
    margin: 0;
  }

  .header__site-slogan {
    font-family: $font-body;
    font-size: 17px;
    font-weight: normal;
    color: #808080;
    margin: 0;
  }
}

.header__region {
  min-height: 82px;
  padding-top: 20px;

  .anon-account-menu {
    width: 100px;
    line-height: 1.2em;
    padding: 4px 6px 0px;

    a {
      display: block;
      text-align: center;
      text-decoration: none;

      &:hover {
        color: $light_green;
      }
      &.signup {
        color: #2f3652;
        font-size: 12px;
      }
      &.login {
        color: #bef086;
        font-size: 20px;
      }
    }
  }

  .block-lang-dropdown {

    .form-item-lang-dropdown-select {
      margin: 0;
    }
  }
}

.header__signpost {
  position: relative;
  top: 30px;
  width: 250px;
  height: 110px;
  line-height: 1.2em;
  background: url('../img/hospitality-sign-v2.png') top left no-repeat;

  .signpost_txt {
    position: absolute;
    top: 19px;
    left: 8px;
    width: 77px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    /* Rotate Text */
    -webkit-transform: rotate(353deg);
    -moz-transform: rotate(353deg);
    -o-transform: rotate(353deg);
    writing-mode: lr-tb;
  }

  .hospitality {
    position: absolute;
    top: 23px;
    right: -30px;
    width: 165px;
    font-size: 13px;
    color: $white;

    a {
      color: #bff184;
    }
  }
}

.header__primary-navbar {
  margin-top: 75px;
}

.logged-in {

  .header__site-logo {

    .header__site-slogan {
      width: 330px;
      font-size: 16x;
      line-height: 18px;
    }

    img {
      height: 155px;
      width: auto;
    }
  }

  .header__region {

    .block-delta--ws-user-account-menu {

    }

  }

  .account-menu {
    width: auto;
    min-height: 25px;
    background: $white;
    font-style: italic;
    color: #76ADFF;
    border-radius: 4px;
    bottom: inherit;
    padding: 0 8px;
    float: left;

    a {
      display: inline;
      text-align: inherit;
      color: #266ACF;
      padding: 0px 6px;
    }
  }

  .header__primary-navbar {
    margin-top: 10px;
  }
}