/***
 * Header Styles
 *
 * If it is styled in the Header, you should find it here.
 */
.header.wrapper {
  background: $blue url('../img/header-bkg.jpg') 85% top no-repeat;
  min-width: 1024px;
}
.logged-in .header.wrapper {
  background: $blue url(../img/header-bkg-loggedin.jpg) 125% top no-repeat;
}
@media screen and (min-width: 1300px) {
  .logged-in .header.wrapper {
    background: $blue url(../img/header-bkg-loggedin.jpg) 85% top no-repeat;
  }
}

header {
  height: 294px;
  position: relative;
  
  .site-logo {
    @include zen-grid-item(6, 1);
    position: relative;
    
    .logo {
      position: absolute;
      top: 0;
      left: 0;
    }
    
    .site-name {
      position: absolute;
      top: 12px;
      left: 72px;
      font-family: 'Sue Ellen Francisco', cursive;
      font-size: 70px;
      font-weight: normal;
      
      a,
      a:link,
      a:visited {
        color: #009835;
        text-decoration: none;
      }
    }
    
    .site-slogan {
      position: absolute;
      top: 98px;
      left: 78px;
      font-family: 'ASAP', Arial, sans-serif;
      font-size: 17px;
      font-weight: normal;
      color: #808080;
    }
  }
  
  .region-header {
    @include zen-grid-item(6, 7);
  }
  
  .signpost {
    @include zen-clear();
    @include zen-grid-item(3, 1);
    bottom: -34px;
    left: -4px;
    z-index: 9;
    width: 250px;
    height: 110px;
    background: url(../img/hospitality-sign-v2.png) top left no-repeat;
    
    .signpost_txt {
      position: absolute;
      top: 19px;
      left: 8px;
      width: 77px;
      text-align: center;
      font-weight: bold;
      font-style: italic;    
      /* Rotate Text */
      -webkit-transform: rotate(353deg);
      -moz-transform: rotate(353deg);
      -o-transform: rotate(353deg);
      writing-mode: lr-tb;
    }
    
    .hospitality {
      position: absolute;
      top: 23px;
      right: -30px;
      width: 165px;
      font-size: 13px;
      color: $white;
      
      a {
        color: #bff184;
      }
    }
  }
  
  // To be turned into a block.
  .account-menu {
    width: 100px;
    line-height: 1.2em;
    
    .inner {
      padding: 4px 6px 0px;
    }
    
    a {
      display:block;
      text-align: center;
      text-decoration: none;
      
      &:hover {
        color: $light_green;
      }
      &.signup {
        color: #2f3652;
        font-size: 12px;
      }
      &.login {
        color: #bef086;
        font-size: 20px;
      }
    }  
  }
  
  .block-lang_dropdown {
    position: absolute;
    top: 40px;
    left: 453px;
  }
  
  .primary-navbar {
    @include zen-grid-item(6, 7);
  }
}

.logged-in {
  
  header {
    height: 161px;
    
    .site-logo {
      
      .site-slogan {
        width: 330px;
        font-size: 16x;
        line-height: 18px;
      }
      
      img {
        height: 155px;
        width: auto;
      }
    }

    // To be turned into a block.
    .account-menu {
      width: auto;
      min-height: 25px;
      background: $white;
      font-style: italic;
      color: #76ADFF;
      border-radius: 4px;
      bottom: inherit;
      
      a {
        display: inline;
        text-align: inherit;
        color: #266ACF;
        padding: 0px 6px;
      }
    }
    
    .primary-navbar {
      @include zen-grid-item(6, 7);
    }
  }
}

.dd .ddTitle {
  background: #f6f6f6;
}
