/***
 * Highlight Region Styles
 *
 * The highlight region is used on anonymous and logged in homepages
 */

/* Region Classes */
body.with-highlight .region-highlight {
  height: 192px;
}
.region-highlight .block {
  width: 226px;
  height: 175px;
  float: left;
  margin: 30px 0 0 15px;
  overflow: hidden;
  background: #d1d1d1;
  color: #545454;
  position: relative;
}
.region-highlight .first { margin-left: 0; }
.region-highlight div.block:last-of-type { width: 236px; /* 226px + 10px */ }
.region-highlight .block .block-wrapper { padding: 15px; }
.region-highlight .block h2.title {
  font-weight: normal;
  color: #363636;
  font-size: 16px;
}

/* Generic UL in Dashboard */
.region-highlight .content ul,
.region-highlight .content ul li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.region-highlight .content ul li {
  /*background: url('../../img/dotted.png') bottom left repeat-x;*/
  padding: 5px 0 5px 15px;
  border-bottom: 1px dotted $dark_gray;
  background: url('../img/forum_arrow.jpg') 2px 6px no-repeat;
  font-size: 10px;
  line-height: normal;
  text-decoration: none;
  word-wrap: break-word;
}
.region-highlight .content ul li a {
  color: $dark_gray;
  text-decoration: none;
}
.region-highlight .content ul li a:hover {
  color: #266acf;
}
.region-highlight .content ul li:hover {
  background-color: #dcdcdc;
}

/* Welcome Block by Chris */

#welcome-text {
  color: #3875d7;
}

#block-wsuser-wsuser_member_welcome_block li {
  margin: 0 3px 0 0;
  padding: 0;
}
#block-wsuser-wsuser_member_welcome_block .links a {
  border: 1px solid black;
  margin-top:5px;
  color: #000000;
  padding: 9px 7px;
  line-height: 42px;
  text-decoration: none;
  font-size: 13px;
}

#block-wsuser-wsuser_member_welcome_block .name a {
  text-decoration: none;
  color: #000000;
  font-size: 1.2em;
}

/* Welcome Block by Josh */

.region-highlight #block-wsuser-2 #welcome-text {
  color: #2570cc;
  display: block;
}
.region-highlight #block-wsuser-2 .name a {
  display: block;
  width: 100%;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
.region-highlight #block-wsuser-2 ul.links li {
  padding: 0;
}
.region-highlight #block-wsuser-2 ul.links li a {
  display: inline-block;
  padding: 6px 12px;
  color: #000;
  text-decoration: none;
  border: 1px solid #636363;
  margin-bottom: 12px;
}
.region-highlight #block-wsuser-2 ul.links li.first a {
  margin-right: 7px;
}

/* Recommendation Block */
.region-highlight #block-wsuser-wsuser_member_recommendation {
  overflow: visible;
}
.region-highlight #block-wsuser-wsuser_member_recommendation #recommend_form {
  position: relative;
}
.region-highlight #block-wsuser-wsuser_member_recommendation #recommend_form #recommend_left_col {
  position: absolute;
  top: 0;
  left: 0;
}
.region-highlight #block-wsuser-wsuser_member_recommendation #recommend_form #recommend_right_col {
  position: absolute;
  top: 0;
  right: 0;
}
.region-highlight #block-wsuser-wsuser_member_recommendation #edit-comments {
  margin: 0;
  font-size: 10px;
  font-family: 'Asap', Arial, sans-serif;
  line-height: 14px;
  width: 89px;
  height: 62px;
}
.region-highlight #block-wsuser-wsuser_member_recommendation #edit-username {
  width: 188px;
  border: 1px solid $white;
}
.region-highlight #block-wsuser-wsuser_member_recommendation #edit-submit {
  background: #093;
  color: $white;
  border: 0;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  border: 0;
  border-top: 3px solid #093;
  border-bottom: 3px solid #093;
  width: 90px;
  cursor: pointer;
}
.region-highlight #block-wsuser-wsuser_member_recommendation p,
.region-highlight #block-wsuser-wsuser_member_recommendation #edit-username-wrapper ul li p {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 13px;
  z-index: 9999;
}
.region-highlight #block-wsuser-wsuser_member_recommendation #autocomplete {
  z-index: 999;
  width: 200px;
}
.region-highlight #block-wsuser-wsuser_member_recommendation label {
  font-weight: normal;
  font-size: 10px;
  line-height: normal;
  margin-bottom: 5px;
}

/* Forum Block */
.region-highlight #block-views-recent_forum_topics-block_1 .view-header {
  position: absolute;
  top: 10px;
  right: 10px;
}
.region-highlight #block-views-recent_forum_topics-block_1 .title {
  height: 33px;
}
/* This should be a .linkbutton */
.region-highlight #block-views-recent_forum_topics-block_1 a#create-a-post-link {
  display: block;
  float: right;
}

/* Social Block */
.region-highlight ul.social,
.region-highlight ul.social li {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
}
.region-highlight ul.social li a {
  display: block;
  text-decoration: none;
  color: $page_bkg;
  padding: 10px 0 10px 61px;
  border-bottom: 2px solid #e8e8e8;
  background: url(../img/fb.png) left 6px no-repeat;
}
.region-highlight ul.social li a:hover {
  background-color: #e1e1e1;
}
.region-highlight ul.social li a .social_top {
  display: block;
  font-size: 11px;
  line-height: 15px;
}
.region-highlight ul.social li a .social_network {
  display: block;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
}
.region-highlight ul.social li a.social_fb {
  margin-top: -3px;
}
.region-highlight ul.social li a.social_tw {
  background-image: url(../img/tw.png);
}
.region-highlight ul.social li a.social_rs {
  border: none;
  background-image: url(../img/rs.png);
}
