/***
 * Highlight Region Styles
 *
 * The highlight region is used on anonymous and logged in homepages
 */
.region-highlighted {
  @include zen-grid-container();

  &:not(.region-block-count--1) {
    .block {
      @include zen-float();
      @include zen-grid-flow-item(3, 12, false, true);

      &:nth-child(4n+0) {
        @include zen-grid-flow-item(3, 12, false, false);
      }

      /* We have a special block here which takes up two columns */
      &.block-delta--ws-anonymous-welcome-message {
        @include zen-grid-flow-item(6, 12, false, true);
      }
    }
  }
}

.one-sidebar.sidebar-second,
.two-sidebars {

  .region-highlighted {

    &:not(.region-block-count--1) {
      .block {
        @include zen-float();
        @include zen-grid-flow-item(3, 9, false, true);

        &:nth-child(3n+0) {
          @include zen-grid-flow-item(3, 9, false, false);
        }

        /* We have a special block here which takes up two columns */
        &.block-delta--ws-anonymous-welcome-message {
          @include zen-grid-flow-item(6, 9, false, false);
        }
      }
    }
  }
}

.one-sidebar.sidebar-second,
.two-sidebars {

  .region-highlighted {

    .block {
      @include zen-float();
      @include zen-grid-flow-item(3, 9, false, true);

      &:nth-child(3n+0) {
        @include zen-grid-flow-item(3, 9, false, false);
      }

      /* We have a special block here which takes up two columns */
      &.block-delta--ws-anonymous-welcome-message {
        @include zen-grid-flow-item(6, 9, false, false);
      }
    }
  }
}


/* Region Classes */
.region-highlighted {

  .block {
    overflow: hidden;
    color: $gray;
    position: relative;
    margin-bottom: 20px;

    .block-wrapper {
      background: $light-gray;
      padding: 15px;
      height: 145px;
    }

    .title, .name {
      font-size: $h3-font-size;
      line-height: 1.17em;
      font-weight: normal;
      color: $dark-gray;
      margin: 0 0 10px 0;

      a {
        text-decoration: none;
        color: $dark-gray;
      }
    }
  }
}

/* Generic UL in Dashboard */
.region-highlighted  {

  .content {

    ul {

      &,
      & li {
        list-style: none;
        list-style-image: none;
        margin: 0;
        padding: 0;
      }

      li {
        padding: 5px 0 5px 15px;
        border-bottom: 1px dotted $dark_gray;
        background: url('../img/forum_arrow.jpg') 2px 6px no-repeat;
        font-size: 10px;
        line-height: normal;
        text-decoration: none;
        word-wrap: break-word;

        &:hover {
          background-color: #dcdcdc;
        }

        a {
          color: $dark_gray;
          text-decoration: none;

          &:hover {
            color: #266acf;
          }
        }
      }
    }
  }
}

/**
 * Anonymous users
 *
 * @TODO: Redfine these styles so that they don't exist.
.not-logged-in #highlight_wrapper_anon {
  position: relative;
  height: 91px;
  margin-top: 24px;
}
.not-logged-in .region-highlight .block {
  height: auto;
  margin-top: 0;
}
*/

/* Welcome Message */
body.front.not-logged-in #highlight_wrapper_anon .welcome_msg {
  position: absolute;
  top: 0;
  left: 205px;
  width: 495px;
  color: #a2c2e4;
  font-size: 13px;
  line-height: 19px;
}
body.front.not-logged-in #highlight_wrapper_anon .welcome_msg strong {
  color: $white;
  font-weight: normal;
}


/**
 * Welcome Block by Chris
 *
 * @TODO: Redfine these styles so that they don't target IDs.
#welcome-text {
  color: #3875d7;
}

#block-wsuser-wsuser_member_welcome_block li {
  margin: 0 3px 0 0;
  padding: 0;
}
#block-wsuser-wsuser_member_welcome_block .links a {
  border: 1px solid black;
  margin-top:5px;
  color: #000000;
  padding: 9px 7px;
  line-height: 42px;
  text-decoration: none;
  font-size: 13px;
}

#block-wsuser-wsuser_member_welcome_block .name a {
  text-decoration: none;
  color: #000000;
  font-size: 1.2em;
}
*/


/**
 * Welcome Block by Josh
 *
 * @TODO: Redfine these styles so that they don't target IDs.
.region-highlight #block-wsuser-2 #welcome-text {
  color: #2570cc;
  display: block;
}
.region-highlight #block-wsuser-2 .name a {
  display: block;
  width: 100%;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
.region-highlight #block-wsuser-2 ul.links li {
  padding: 0;
}
.region-highlight #block-wsuser-2 ul.links li a {
  display: inline-block;
  padding: 6px 12px;
  color: #000;
  text-decoration: none;
  border: 1px solid #636363;
  margin-bottom: 12px;
}
.region-highlight #block-wsuser-2 ul.links li.first a {
  margin-right: 7px;
}
*/


/**
 * Recommendation Block
 *
 * @TODO: Redfine these styles so that they don't target IDs.
.region-highlight #block-wsuser-wsuser_member_recommendation {
  overflow: visible;
}
.region-highlight #block-wsuser-wsuser_member_recommendation #recommend_form {
  position: relative;
}
.region-highlight #block-wsuser-wsuser_member_recommendation #recommend_form #recommend_left_col {
  position: absolute;
  top: 0;
  left: 0;
}
.region-highlight #block-wsuser-wsuser_member_recommendation #recommend_form #recommend_right_col {
  position: absolute;
  top: 0;
  right: 0;
}
.region-highlight #block-wsuser-wsuser_member_recommendation #edit-comments {
  margin: 0;
  font-size: 10px;
  font-family: 'Asap', Arial, sans-serif;
  line-height: 14px;
  width: 89px;
  height: 62px;
}
.region-highlight #block-wsuser-wsuser_member_recommendation #edit-username {
  width: 188px;
  border: 1px solid $white;
}
.region-highlight #block-wsuser-wsuser_member_recommendation #edit-submit {
  background: #093;
  color: $white;
  border: 0;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  border: 0;
  border-top: 3px solid #093;
  border-bottom: 3px solid #093;
  width: 90px;
  cursor: pointer;
}
.region-highlight #block-wsuser-wsuser_member_recommendation p,
.region-highlight #block-wsuser-wsuser_member_recommendation #edit-username-wrapper ul li p {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 13px;
  z-index: 9999;
}
.region-highlight #block-wsuser-wsuser_member_recommendation #autocomplete {
  z-index: 999;
  width: 200px;
}
.region-highlight #block-wsuser-wsuser_member_recommendation label {
  font-weight: normal;
  font-size: 10px;
  line-height: normal;
  margin-bottom: 5px;
}
*/


/**
 * Node block rules
 */
.region-highlighted {

  .block-nodeblock {

    p {
      margin: rhythm(1)/2 0;
    }

    img {
      width: auto;
    }
  }
}

/**
 * Forum Block
 */
.region-highlighted {

  .view-recent-forum-topics {

    .view-header {
      @include zen-float(right);
      margin-top: -40px;
    }

    .title {
      height: 33px;
    }

    a#create-a-post-link {
      display: block;
      float: right;
    }
  }
}


/**
 * Social Block
 */
.region-highlighteded {

  .social {

    &,
    & li {
      margin: 0;
      padding: 0;
      list-style: none;
      cursor: pointer;

      a {
        display: block;
        text-decoration: none;
        color: $page_bkg;
        padding: 10px 0 10px 61px;
        border-bottom: 2px solid #e8e8e8;
        background: url('../img/fb.png') left 6px no-repeat;

        &:hover {
          background-color: #e1e1e1;
        }

        .social_top {
          display: block;
          font-size: 11px;
          line-height: 15px;
        }

        .social_network {
          display: block;
          font-size: 16px;
          line-height: 16px;
          font-weight: bold;
        }

        &.social_fb {
          margin-top: -3px;
        }

        &.social_tw {
          background-image: url(../img/tw.png);
        }

        &.social_rs {
          border: none;
          background-image: url(../img/rs.png);
        }
      }
    }
  }
}