/***
 * Navigation Styles
 *
 * The Navigation Menu at the top of the screen
 */

.header__primary-navbar {

  .menu {
    text-align: left;
    margin: 0px;
    padding: 0px;

    li {
      float: left;
      padding: 0px 10px 0px 0px;

      &.leaf {
        list-style: none;
        list-style-image: none;
      }

      &.active-trail a, 
      & a.active {
        border-bottom: 5px solid $active-green;
        color: $white;
      }

      & a:hover,
      & a:active {

        &:not(.active) {
          border-bottom: 5px solid rgba($white, .4);
          color: $white;
        }
      }
    }

    a {
      display: block;
      height: 32px;
      padding: 0 20px;
      color: #d0ffff;
      font-size: 16px;
      border-bottom: 5px solid transparent;
      text-decoration: none;
    }
  }

  .block-menu {
    margin: 0;
  }
}

/**
 * Navigation bar.
 * TODO: Check all these styles are necessary and useful, they come from the starter theme.
 */
#navigation {
  /* Sometimes you want to prevent overlapping with main div. */
  /* overflow: hidden; */

  .block {
    margin-bottom: 0;
  }

  .block-menu .block__title,
  .block-menu-block .block__title {
    @extend %element-invisible;
  }

  /* Main menu and secondary menu links and menu block links. */
  .links,
  .menu {
    margin: 0;
    padding: 0;
    text-align: left; /* LTR */

    li {
      /* A simple method to get navigation links to appear in one line. */
      float: left; /* LTR */
      padding: 0 10px 0 0; /* LTR */
      list-style-type: none;
      list-style-image: none;
    }
  }
}