/***
 * Navigation Styles
 *
 * The Navigation Menu at the top of the screen
 */

.primary-navbar {
  
  nav {
  
    .menu {
      text-align: left;
      margin: 0px;
      padding: 0px;

      li {
        float: left;
        padding: 0px 10px 0px 0px;
        
        &.leaf {
          list-style: none;
          list-style-image: none;
        }
        
        &.active-trail a {
          border-bottom: 5px solid #addc79;
          color: $white;
        }        
      }
      
      a {
        display: block;
        height: 32px;
        padding: 0 20px;
        color: #d0ffff;
        font-size: 16px;
        border-bottom: 5px solid transparent;
        text-decoration: none;
        
        &.active {
          font-weight: bold;
        }
      }
    }
  }
}