/***
 * Navigation Styles
 *
 * The Navigation Menu at the top of the screen
 */

#navigation {
  position: relative;
  top: 40px;
  width: 1px;
}
/* Let's move the navbar up. */
#navigation .section {
  position: absolute;
  top: -109px;
  left: 280px;
  width: 690px;
}
#navigation .menu li.leaf {
  list-style: none;
  list-style-image: none;
}
#navigation .menu a {
  display: block;
  height: 32px;
  padding: 0 20px;
  color: #d0ffff;
  font-size: 16px;
  border-bottom: 5px solid transparent;
  text-decoration: none;
}
#navigation .menu li.active-trail a {
  border-bottom: 5px solid #addc79;
  color: #FFF;
}
#navigation a.active {
  font-weight: bold;
}
.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second {
  margin-top: 0;
}
body.logged-in #navigation .section { /* Slightly different when logged-in */
  left: 411px;
}
body.front.not-logged-in #navigation .section {
  top: -224px;
}
body.with-highlight #navigation .section {
  top: -300px;
}