/***
 * Sidebar Styles
 *
 * General Sidebar Styles here.
 */

/**
 * Sidebar First
 */
.region-sidebar-first .block {
  border: 2px solid $white;
  background: #c5c5c5;
  color: $page_bkg
}
.region-sidebar-first .block .block-wrapper {
  margin-right: 12px;
  padding: 10px;
  background: url(../img/sidebar_first-bkg.png) top right repeat-y;
}
.region-sidebar-first .block h2.title {
  font: normal 20px/24px 'ASAP', Arial, sans-serif;
  color: $dark_green;
  text-shadow: $white 0 1px 5px;
}
#wsuser-member-search-form select#edit-country {
  width: 90%;
}


/**
 * Sidebar Second
 */
.region-sidebar-second {
  padding-top: 20px;
}
.region-sidebar-second .block {
  background: $dark_blue;
  color: #9fcbff
}
.region-sidebar-second .block .block-wrapper {
  margin-left: 14px;
  padding: 10px 14px;
  background: url(../img/sidebar_second-bkg.png) top left repeat-y;
}
.region-sidebar-second .section {
  margin: 0;
}
.region-sidebar-second .block h2.title {
  color: $light_light_green;
  font-weight:normal;
  font-size: 19px;
  font-weight: normal;
  margin: 4px 0;
}

/* Login Block */
.region-sidebar-second .block-user label {
  font-weight: normal;
}
.region-sidebar-second .block-user a.forgot-pass {
  color: #6b7e93;
  text-decoration: none;
  font-style:normal;
  font-size: 12px;
}
.region-sidebar-second .block-user input#edit-submit {
  color: #9be76c;
  border: 1px solid #9be76c;
  background: none;
  margin: 0;
  padding: 4px 24px;
  float: right;
  font-size: 12px;
}
.region-sidebar-second .block-user input#edit-pass,
.region-sidebar-second .block-user input#edit-name {
  width: 192px;
}
