/***
 * Sidebar Styles
 *
 * General Sidebar Styles here.
 */

/**
 * Sidebar First
 */
.region-sidebar-first {
  margin: 0 rhythm(1) 0 0;

  .block {
    border: 2px solid $white;
    background: #c5c5c5;
    color: $page_bkg;

    .title {
      font-size: $h2-font-size;
      font-family: $font-body;
      color: $dark_green;
      text-shadow: $white 0 1px 5px;
    }
  }

  .block-wrapper {
    margin-right: 12px;
    padding: 10px;
    background: url('../img/sidebar_first-bkg.png') top right repeat-y;
  }
}


/**
 * Sidebar Second
 */
.region-sidebar-second {
  margin: 0 0 0 rhythm(1);

  .block {
    background: $dark_blue;
    color: #9fcbff;

    .title {
      color: $light_light_green;
      font-weight:normal;
      font-size: 19px;
      font-weight: normal;
      margin: 4px 0;
    }
  }

  .block-wrapper {
    margin-left: 14px;
    padding: 10px 14px;
    background: url('../img/sidebar_second-bkg.png') top left repeat-y;
  }
}


/**
 * Login Block
 *
 * @TODO Remove ID selectors where possible.
 */
.sidebar {

  .block-user {

    label {
      font-weight: normal;
    }

    a.forgot-pass {
      color: #6b7e93;
      text-decoration: none;
      font-style:normal;
      font-size: 12px;
    }

    input#edit-submit {
      color: #9be76c;
      border: 1px solid #9be76c;
      background: none;
      margin: 0;
      padding: 4px 24px;
      float: right;
      font-size: 12px;
    }

    input#edit-name,
    input#edit-pass {
      width: 192px;
    }

    select#edit-country {
      width: 90%;
    }
  }
}