/***
*  Better Messages 
*/

#better-messages-wrapper {
  position: fixed !important;
  border: 10px solid;
  border-color: rgba($dark-blue, 0.8);
  border-radius: 6px;
}

  #better-messages-default {

    #messages-inner {}

      .messages-label {
        margin: 0 0 5px 0;
      }

      .messages {
        margin: 5px 0;
        padding: 10px 5px 10px 55px;
        width: 330px;
      }

      div.status,
      div.error {
        background-position: 10px center;
      }

      .footer {
        margin-top: 5px;
      }
  }

#better-messages-default .tl,
#better-messages-default .tr,
#better-messages-default .b,
#better-messages-default .br,
#better-messages-default .bl {
  background: none;
  width: 0;
  height: 0;
}

