/***
*  Better Messages 
*/

#better-messages-wrapper {
	position: fixed !important;
}

	#better-messages-default {

		#messages-inner {}

			.messages-label {
				margin: 0 0 5px 0;
			}

			.messages {
				margin: 5px 0;
				padding: 10px 5px 10px 55px;
			}

			div.status,
			div.error {
				background-position: 10px center;
			}

			.footer {
				margin-top: 5px;
			}
	}

