/***
 * Link Button Styles
 *
 * Apply this class to any link to make it look like a Warmshowers Button.
 *
 * ## Modifier Classes
 * light = For use on darker backgrounds that could use a white button
 * dark = For use on darker backgrounds that could use a dark button
 * rounded = For use to make the button corners rounded
 * lgrounded = make the rounded corners bigger
 * big = Make the button large and in-charge
 */

%linkbutton {
  display: inline-block;
  width: auto;
  padding: 6px;
  margin-right: 7px;
  margin-top: 7px;
  border: 1px solid #4f8eef;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  color: $blue;
  text-decoration: none;
  cursor: pointer;
}

%linkbutton--big {
  display: block;
  font-size: 14px;
  width: 90%;
  margin: .65em 0;
  padding: 6px 7px;
  line-height: normal;
  text-align: center;
  border-width: 2px;
}

%linkbutton--hover {
  color: $white;
  background: #4f8eef;
}

a.linkbutton {
  @extend %linkbutton;

  &:hover,
  &:focus,
  &.focus {
    @extend %linkbutton--hover;
  }

  &.dark {
    border-color: #445d77;
    color: #9FCBFF;
    background: #000f25;

    &:hover {
      border-color: #4f8eef;
    }
  }

  &.rounded {
    border-radius: 4px;
  }

  &.light {
    border-color: $white;
    color: $white;
    background: #76adff;

    &:hover {
      background-color: $white;
      color: #4c8bed;
      border-color: $white;
    }
  }

  &.green {
    border-color: $light_light_green;
    color: $light_light_green;

    &:hover {
      background-color: $white;
      color: #4c8bed;
      border-color: $white;
    }
  }

  &.big {
    @extend %linkbutton--big;
  }

  &.big.rounded,
  &.lgrounded {
    border-radius: 8px;
  }
}