/***
 * Map Styles
 *
 * @TODO: DESTROY, destory, down with ID selectors.
 */

/* Maybe this should be in with wsmap module */
#mapframe {
  width:100%;
  position:relative;
  clear:both
}

.wsmap-collapse {
  display: none;
  margin-top: -5px;
  margin-bottom: 5px;
  text-decoration: none;
}

.wsmap-wrapper {
  width: 100%;
  color: $page_bkg;
  z-index: 999;
}

/* Map only styles used for iframe */
body.page-maponly {
  background-color: $white;
  color: #000;
}



/***
* Info-Window
*/

.wsmap-infowindow {

  padding: 5px 5px 0;
}  

  .wsmap-numhosts {
    display: block;
    margin-bottom: 6px;
  }

  .wsmap-infowindow-host {

    padding: 0 10px 6px;
    min-height: 56px;

    &:not(:nth-of-type(1)) {
      //margin-top: 16px;
      padding-top: 6px;
      //border-top: 1px solid $light-gray;
    }

    &:nth-child(even) {
      background-color: rgba($light-gray, .2);
    }
  }

    .wsmap-infowindow-picture {
          float: left;
          line-height: 0;

          img {
            margin: 6px 0 8px 0;
            padding: 0px;
            border: none;
          }
    }

    .wsmap-infowindow-hostinfo {

      margin-left: 65px;
      line-height: 1.3em;

      a {
        display: inline-block;
        font-size: 1.2rem;
        line-height: 1.2em;
        margin-bottom: 3px;
        margin-top: 4px;
        //text-decoration: none;
        //border-bottom: 1px solid $link-color;
      }
    }