/***
 * Map Styles
 *
 * @TODO: DESTROY, destory, down with ID selectors.
 */

/* Maybe this should be in with wsmap module */
#mapframe {
  width:100%;
  position:relative;
  clear:both
}

.wsmap-collapse {
  display: none;
  margin-top: -5px;
  margin-bottom: 5px;
  text-decoration: none;
}

.wsmap-wrapper {
  width: 100%;
  color: $page_bkg;
  z-index: 999;
}

/* Map only styles used for iframe */
body.page-maponly {
  background-color: $white;
  color: #000;
}

