/***
 * Map Styles
 */

/* Maybe this should be in with wsmap module */
#mapholder {
  width: 100%;
  color: $page_bkg;
  z-index: 999;
}

#content #collapse_map {
  display: none;
  margin-top: -5px;
  margin-bottom: 5px;
  text-decoration: none;
}

/* Adding some styles for the map config block. @todo - check browser compatiability */
#block-wsmap-wsmap_map_behaviors {
  margin-right: -15px;
  background: $white;
}
#block-wsmap-wsmap_map_behaviors .block-wrapper {
  background: none;
}
#block-wsuser-wsuser_search_block h2 {
  margin: -10px -22px -20px 0;
  padding: 10px 22px 20px 0;

  background: url(../../img/search.png)  right -4px no-repeat;
}

/* Map only styles used for iframe */
body.page-maponly {
  background-color: $white;
  color: #000;
}

