/***
 * Messages Styles
 */

div.status, div.warning, div.error {
  padding:0 0 0 2.5em;
  min-height:35px;
}

div.status .message, div.warning .message, div.error .message {
  min-height:35px;
  padding-left:5px;
}

div.status {
  background-color: #87c564;
  border: 1px solid #87c564;
  background-image: url(../../img/info.gif);
}

div.status .message {
  color: #555555;
  background-color:#f2faf5;
}

div.warning {
  background-color: $orange;
  border: 1px solid $orange;
  background-image: url(../../img/alert.gif);
}

div.warning .message {
  background-color:#fefbf2;
  color: $orange;
}

div.error {
  background-color: $red;
  border: 1px solid $red;
  background-image: url(../../img/error.gif);
}

div.error .message {
  background-color: #fff6f2;
  color: $red;
}