/***
 * Messages Styles
 */

div.status, div.warning, div.error {
  padding:0 0 0 2.5em;
  min-height:35px;
}

div.status .message, div.warning .message, div.error .message {
  min-height:35px;
  padding-left:5px;
}

div.status {
  background-color: #87c564;
  border: 1px solid #87c564;
  background-image: url(../img/info.gif);
}

div.status .message {
  color: #555555;
  background-color:#f2faf5;
}

div.warning {
  background-color: $orange;
  border: 1px solid $orange;
  background-image: url(../img/alert.gif);
}

div.warning .message {
  background-color:#fefbf2;
  color: $orange;
}

div.error {
  background-color: $red;
  border: 1px solid $red;
  background-image: url(../img/error.gif);
}

div.error .message {
  background-color: #fff6f2;
  color: $red;
}

.privatemsg-list {
  width: 100%;
}

/* Message list filters */

.privatemsg-filter-actions {

  #edit-save {
    display: none;
  }
}

/* Message conversation page */

.page-user-messages-view {
  
  h1 {
    margin-top: 0;
  }
}

#privatemsg-filter-tags {
  display: none;
}

.privatemsg-message-participants {
  border-bottom: 1px solid #C5C5C5;
}

.privatemsg-message {
  @include zen-grid-container();
  padding: rhythm(1) 0;
  border-top: 1px solid #C5C5C5;  
}

.privatemsg-message-last {
  border-bottom: 1px solid #C5C5C5;
}

  .privatemsg-author-avatar {
    @include zen-grid-item(1, 1);
    padding-top: 8px;
  }

  .privatemsg-message-column {
    @include zen-grid-item(11, 2);
  }

    .privatemsg-message-actions {
      float: right;
      position: relative;
      top: -11px;

      li {
        padding: 0 0 0 1em;
      }
    }

.privatemsg-message-even {
  background-color: #eee;
}



