.ddsWS .dd-select {
    border: 0;
    background: none repeat scroll 0 0 #FFF !important;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
.ddsWS .dd-desc {
    color: #AAAAAA;
    display: block;
    font-weight: normal;
    line-height: 1.2em;
    overflow: hidden;
}
.ddsWS .dd-selected {
    display: block;
    font-weight: normal !important;
    overflow: hidden;
    padding: 4px 8px;
    color: #266ACF;
    text-decoration: none;
}
.ddsWS .dd-selected label {
    line-height: 1.2em !important;
    font-weight: normal;
}
.ddsWS .dd-selected:hover {
	text-decoration: none;
	color: #266ACF;
}
.ddsWS .dd-pointer {
    height: 0;
    margin-top: -3px;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 0;
}
.ddsWS .dd-pointer-down {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #266ACF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 5px;
}
.ddsWS .dd-pointer-up {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #000000 !important;
    border-image: none !important;
    border-style: solid !important;
    border-width: 5px !important;
    margin-top: -8px;
}
.ddsWS .dd-options {
    border: none;
    border-radius: 4px;
    box-shadow: none;
    display: none;
    list-style: none outside none;
    margin: 0;
    overflow: auto;
    padding: 0 !important;
    position: absolute;
    top:0;
    z-index: 2000;
}
.ddsWS .dd-option:hover {
	text-decoration: none;
}
.ddsWS .dd-option img,
.ddsWS .dd-selected img {
	width: 20px;
	height: 14px;
}
.ddsWS .dd-option {
    border-bottom: 1px solid #dbeaff;
    color: #266ACF;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 4px 8px;
    text-decoration: none;
    transition: all 0.15s ease-out 0s;
}

.ddsWS .dd-option label {
    font-weight: normal;
    line-height: 1.3em;
    cursor: pointer;
}

.ddsWS .dd-options > li:last-child > .dd-option {
    border-bottom: medium none;
}
.ddsWS .dd-option:hover {
    background: none repeat scroll 0 0 #dbeaff;
    color: #266ACF;
}
.ddsWS .dd-selected-description-truncated {
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ddsWS .dd-option-selected {
    background: none repeat scroll 0 0 #dbeaff;
    color: #266ACF;
}
.ddsWS .dd-option-image, .dd-selected-image {
    float: left;
    margin-right: 5px;
    max-width: 64px;
    vertical-align: middle;
}
.ddsWS .dd-image-right {
    float: right;
    margin-left: 5px;
    margin-right: 15px;
}
.ddsWS .dd-container {
    position: relative;
}
​.ddsWS .dd-selected-text{
    font-weight: normal !important;
}
