/**
 * @file
 * Styles for uc_ca module.
 */
table.ca-predicate-trigger .col-title {
  width: 70%;
}

table.ca-predicate-class .col-title {
  width: 40%;
}

.ca-predicate-trigger tr,
.ca-predicate-class tr {
  vertical-align: top;
}

.ca-predicate-table-weight {
  text-align: center;
}

.ca-predicate-table-ops {
  white-space: nowrap;
}
