/**
 * @file
 * Styles for shipping quote cart and checkout panes.
 */

.form-item .description {
  /* Fix the inheritance from table rows. */
  white-space: normal;
}

.solid-border#quote {
  margin-top: 1em;
}

.quote-button {
  color: rgb(0, 0, 125);
  cursor: pointer;
  font-weight: bold;
}

.quote-error {
  display: inline;
}

.quote-notes {
  margin-left: 25px;
}

.node-form .product-shipping .form-text {
  display: inline;
  width: auto;
}
