/* $Id: ip2cc.css,v 1.1.2.1 2009/05/04 10:23:30 mrfelton Exp $ */

#dbthrobber.working {
  padding: 0 1.5em 0 0;
  background-image: url(/misc/throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% -20px; /* 20px = half height of throbber */
  color: green;
}

#dbthrobber.completed {
  color: green;
}

#dbthrobber.message,
#lookup-message.message {
  color: red;
}
