/* CSS File that fixes stuff for IE6 and IE7 */
body.front.not-logged-in .region-sidebar-second {
  zoom: 1;
  float: none;
}
body.front.not-logged-in #highlight_wrapper_anon #block-wsuser-wsuser_member_count_block .big_number {
  line-height: 36px;
}