/* CSS File that fixes stuff for IE6 and IE7 */
body.front.not-logged-in .region-sidebar-second {
  zoom: 1;
  float: none;
}
body.front.not-logged-in #highlight_wrapper_anon #block-wsuser-wsuser_member_count_block .big_number {
  line-height: 36px;
}
#header .signpost {
  background-image: url('../../img/hospitality-sign-v2-ie6.gif');
}
#header .signpost .signpost_txt {
  font-family: Arial, sans-serif;
  font-style: normal;
}
#authentication_block a.login {
  line-height: 24px;
}
