div#recurring_intervals {
  clear: both;
}

#edit-notication-event-wrapper label {
  display: inline;
}

form#uc-recurring-subscription-product-form .subscription-interval-value,
form#uc-recurring-subscription-product-form .subscription-interval-period,
form#uc-recurring-subscription-product-form .subscription-num-intervals,
form#uc-recurring-subscription-product-form .subscription-unlimited-intervals {
  float: left;
}


form#uc-recurring-subscription-overview span.default-option:before {
  content: "*";
}

.ca-role-option div.form-item {
  display: inline;
  padding-right: 20px;
}

.role-option {
  width: 100%;
}
