
a.follow-link {
	height: 30px;
	display: block;
	line-height: 26px;
	padding-left: 28px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

a.follow-link-facebook {
	background-image: url(icons/small/icon-facebook.png);
}

a.follow-link-myspace {
	background-image: url(icons/small/icon-myspace.png);
}

a.follow-link-virb {
	background-image: url(icons/small/icon-virb.png);
}

a.follow-link-bliptv {
	background-image: url(icons/small/icon-bliptv.png);
}

a.follow-link-lastfm {
	background-image: url(icons/small/icon-lastfm.png);
}

a.follow-link-youtube {
	background-image: url(icons/small/icon-youtube.png);
}

a.follow-link-twitter {
	background-image: url(icons/small/icon-twitter.png);
}

a.follow-link-picasa {
	background-image: url(icons/small/icon-picasa.png);
}

a.follow-link-flickr {
	background-image: url(icons/small/icon-flickr.png);
}

a.follow-link-vimeo {
	background-image: url(icons/small/icon-vimeo.png);
}

a.follow-link-linkedin {
	background-image: url(icons/small/icon-linkedin.png);
}

a.follow-link-delicious {
	background-image: url(icons/small/icon-delicious.png);
}

a.follow-link-tumblr {
	background-image: url(icons/small/icon-tumblr.png);
}

a.follow-link-this-site {
	background-image: url(icons/small/icon-feed.png);
}

a.follow-link-newsletter {
	background-image: url(icons/small/icon-newsletter.png);
}
