/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
$zen-column-count:  12;
$zen-gutter-width:  20px;

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

/***
 * Body and Structure
 * See also zen.css for layout styles
 */

.container {
  &.responsive {
    @include zen-grid-container();
  }
  margin-left: auto;
  margin-right: auto;
}
.wrapper {
  position: relative;
}

#header,
#page,
#footer {
  width: 960px;
}

.main-wrapper {
  margin-top: 32px;

  .sidebar.first {
    display: none
  }
  .main {
    @include zen-grid-item(12, 1);
  }
  .content-area {
    background: $white;
    padding: 20px;
  }
  .sidebar.second {
    display: none
  }

}

.one-sidebar.sidebar-first {
  .main-wrapper {
    .sidebar.first {
      @include zen-grid-item(3, 1);
      display: block;
    }
    .main {
      @include zen-grid-item(9, 4);
    }
  }
}

.one-sidebar.sidebar-second {
  .main-wrapper {
    .main {
      @include zen-grid-item(9, 1);
    }
    .sidebar.second {
      @include zen-grid-item(3, 10);
      display: block;
    }
  }
}

.two-sidebars {
  .main-wrapper {
    .sidebar.first {
      @include zen-grid-item(3, 1);
      display: block;
    }
    .main {
      @include zen-grid-item(6, 4);
    }
    .sidebar.second {
      @include zen-grid-item(3, 10);
      display: block;
    }
  }
}


/* Front Page */
.front ,main {
  display: none;
}
.front .content-area {
  background: none;
}

/***
 * Fonts
 */
.sidebar, .region-highlight,
#header, #footer, #content {
  color: $page-bkg;
  font-family: 'Asap', Arial, sans-serif;
  font-size: 14px;
}
.sidebar a, #content a {
  color: $green;
  font-style: italic;
}
.sidebar a:visited, #content a:visited {
  color: $dark-green;
}
.sidebar a:hover, #content a:hover {
  color: $light-green;
}

