/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
$zen-column-count: 12;
$zen-grid-width: 100%;//960px;
$zen-gutter-width: 20px;//2%;

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: true;
// $zen-auto-include-flow-item-base: false;

/***
 * Body and Structure
 * See also zen.css for layout styles
 */

.container {
  &.responsive {
    @include zen-grid-container();
  }
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  position: relative;
}

#header,
#page,
.region-notification .block {
  width: 960px;
  @include zen-grid-container();
}

.region-notification {
  margin-left: auto;
  margin-right: auto;
}

.main-wrapper {
  margin-top: 32px;

  .region-highlighted {
    margin-bottom: 20px;
  }

  .content-area {
    background: $white;
    padding: 20px;
  }

}

.no-sidebars {

  .region-highlighted {
    @include zen-grid-item(12, 1);
  }

  .sidebar.first {
    display: none
  }

  .main {
    @include zen-clear(left);
    @include zen-grid-item(12, 1);
  }

  .content-area {
    background: $white;
    padding: 20px;
  }

  .sidebar.second {
    display: none
  }
}

.one-sidebar.sidebar-first {

  .main-wrapper {

    .sidebar.first {
      @include zen-clear(left);
      @include zen-grid-item(3, 1);
      display: block;
    }

    .main {
      @include zen-grid-item(9, 4);
    }
  }
}

.one-sidebar.sidebar-second {

  .main-wrapper {

    .region-highlighted {
      @include zen-grid-item(9, 1);
    }

    .main {
      @include zen-clear(left);
      @include zen-grid-item(9, 1);
    }

    .sidebar.second {
      @include zen-grid-item(3, 1, right);
      display: block;
    }
  }
}

.two-sidebars {

  .main-wrapper {

    .region-highlighted {
      @include zen-grid-item(9, 1);
    }

    .sidebar.first {
      @include zen-clear(left);
      @include zen-grid-item(3, 1);
      display: block;
    }

    .main {
      @include zen-grid-item(6, 4);
    }

    .sidebar.second {
      @include zen-grid-item(3, 1, right);
      display: block;
    }
  }
}