/**
 * @file
 * Styles for shipping quote cart and checkout panes.
 */

#uc-cart-pane-quotes .form-submit {
  margin-left: auto;
  margin-right: 16em;
}

.quote-notes {
  margin-left: auto;
  margin-right: 25px;
}
