/**
 * @file
 * Styles for shipping quote cart and checkout panes.
 */

#uc-cart-pane-quotes {
  border: solid 1px #bbb;
  padding: 5px;
}

#uc-cart-pane-quotes .quote-title {
  font-weight: bold;
}

#uc-cart-pane-quotes .uc-store-address-field .form-item label {
  padding: 5px 6px 6px;
}

#uc-cart-pane-quotes .form-submit {
  margin-left: 16em; /* LTR */
}

#quote {
  border: solid 1px #bbb;
  margin-top: 1em;
  padding: 5px;
}

#uc-paypal-ec-review-form #quote {
  border: 0;
  padding: 0.5em 0 0;
}

.quote-error {
  display: inline;
}

.quote-notes {
  margin-left: 25px; /* LTR */
}

/**
 * Styles for uc_ups.
 */
.ups-logo {
  vertical-align: middle;
}
