/**
 * @file
 * Styles for uc_catalog module.
 */
.catalog .trail {
  font-weight: bold;
}

.uc-catalog .views-view-grid td,
.uc-catalog-terms .views-view-grid td {
  text-align: center;
}

.views-field-buyitnowbutton .form-actions {
  margin: 0;
}
