.poweredbystripe {
  margin-top: 10px;
  float: right;
  background: #017aff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#78b8ff', endColorstr='#017aff');
  background-image: -moz-linear-gradient(-90deg, #78b8ff, #017aff);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#78b8ff), to(#017aff));
  height: 27px;
  padding: 0 10px;
  line-height: 27px;
  display: block;
  color: #fff;
  vertical-align: top;
  font: bold 12px Arial, Helvetica, Verdana, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-box-shadow: inset 0 1px 0 #98c9ff;
  -webkit-box-shadow: inset 0 1px 0 #98c9ff;
  box-shadow: inset 0 1px 0 #98c9ff;
}

a.poweredbylink:hover {
  text-decoration: none;
}

#uc_stripe_messages.hidden {display: none;}

.stripe-warning {color: red; font-style: oblique; }
