<?php

// Mostly you should just have to change these lines
$dev_email="randy@example.com";
$conf['site_name'] = 'wsupg.dev';
$db_name="wsupg";
$db_user="root";
$db_pass="";
$conf['user_location_google_key'] = 'Please ask for it';

# If you set $cookie_domain, *.wsupg.dev will use the same cookie so you can
# stay logged in across subdomains (languages).  If that's not
# important, than you can just leave it commented out.
$cookie_domain = '.' . $conf['site_name'];

$databases = array (
  'default' =>
  array (
    'default' =>
    array (
      'driver' => 'mysql',
      'username' => $db_user,
      'password' => $db_pass,
      'port' => '',
      'host' => 'localhost',
      'database' => $db_name,
      'prefix' => '',
    ),
  ),
);

$conf['stage_file_proxy_origin'] = 'https://www.warmshowers.org';
$conf['stage_file_proxy_origin_dir'] = 'files';

$conf['reroute_email_enable'] = TRUE;
$conf['reroute_email_address'] = $dev_email;
$conf['uc_stripe_testmode'] = TRUE;
$conf['uc_stripe_api_key_test_secret'] = 'ask for it please';
$conf['uc_stripe_api_key_test_publishable'] = 'ask for it please';
$conf['uc_stripe_api_key_live_secret'] = 'notAvailable';
$conf['uc_stripe_api_key_live_publishable'] = 'notAvailable';
$conf['wsuser_donortools_url'] = 'https://randy+wstest@warmshowers.org:xxxs@wstest.donortools.com/donations.json';

$conf['wsuser_num_users_to_remind_per_run'] = 1; // Limit how many of these we send

$conf['error_level'] = 2;  // Make sure all errors on screen
$conf['preprocess_css'] = 0;
$conf['preprocess_js'] = 0;

$conf['robotstxt'] = "# Now that we are using the robotstxt module
# we must ensure that we DO NOT have a robots.txt in the web root.
# This will be created by the robotstxt module instead.
#
# To make sure that local sites disallow robots,
# we can override the contents of the file here:
User-agent: *
Disallow: /
";

$conf['user_location_adv_cycling_kmz'] = 'http://' . $conf['site_name'] . '/sites/all/modules/dev/wsmap/kml/ACA_Cycling_Routes.kmz?a';
$conf['mandrill_incoming_failure_forward_email'] = $dev_email;

$update_free_access = TRUE;
error_reporting(-1);

