
fieldset.interval-fieldset,
div.fieldset.interval-fieldset {
  float: left;
  width: 40%;
  margin-right: 1%;
}

.interval-fieldset div.form-item {
  display: inline;
  float: left;
}

.form-item-reset-next-charge {
  clear: both;
}

#edit-reset-next-charge-wrapper {
  clear: both;
}

.recurring-status-2 {
  background-color: #EEB4B4;
  font-weight: bold;
}
