
.poll {
  overflow: hidden;
}
.poll .bar {
  height: 1em;
  margin: 1px 0;
  background-color: #ddd;
}

.poll .voted .bar {
  border: 1px solid #111;
}
.poll .bar .foreground {
  background-color: #000;
  height: 1em;
  float: left; /* LTR */
}
.poll .links {
  text-align: center;
}
.poll .percent {
  text-align: right; /* LTR */
}
.poll .total {
  text-align: center;
}
.poll .vote-form {
  text-align: center;
}
.poll .vote-form .choices {
  text-align: left; /* LTR */
  margin: 0 auto;
  display: table;
}
.poll .vote-form .choices .title {
  font-weight: bold;
}
.node-form #edit-poll-more {
  margin: 0;
}
.node-form #poll-choice-table .form-text {
  display: inline;
  width: auto;
}
.node-form #poll-choice-table td.choice-flag {
  white-space: nowrap;
  width: 4em;
}
td.poll-chtext {
  width: 80%;
}
td.poll-chvotes .form-text {
  width: 85%;
}

.node-advpoll #message {
    color: #DD0000;
    font-style: italic;
}

.advpoll-write-in {
    position: relative;
    width: 375px;
}

.advpoll-write-in .form-item {
    padding: 0px;
    margin: 0px;
    position: relative;
    top: -18px;
    left: 18px;
}

.advpoll-ranking-wrapper ul.selectable-list {
    margin: 0;
    padding: 0;
    float: left;
    width: 50%;
}

.advpoll-ranking-wrapper .advpoll-vote-region {
    float: right;
}

.advpoll-ranking-wrapper #message {
    clear: both;
}

.advpoll-ranking-wrapper .tabledrag-toggle-weight-wrapper {
    display: none;
}

.advpoll-ranking-table-wrapper {
    max-width: 265px;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
}

.advpoll-ranking-table-wrapper tbody {
    margin: 5px;
    padding-bottom: 0;
    background-color: #eee;
    text-align: left;
    
}

.advpoll-ranking-table-wrapper thead th {
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 5px 0 10px 0;
    background-color: transparent;
    width: 260px;
}

.advpoll-ranking-table-wrapper thead tr {
    background: none transparent;
}

.advpoll-ranking-table-wrapper tfoot td {
    text-align: center;
    padding: 0;
    margin: 0;
    width: 265px;    
}

.advpoll-ranking-table-wrapper tfoot tr {
    background: transparent;
    
}

.advpoll-ranking-table-wrapper tfoot .form-submit {
    margin: 10px 0;
}


.advpoll-ranking-table-wrapper tr .form-item {
    white-space: normal;
}

.advpoll-ranking-table-wrapper td {
  border: none;
  min-height: 20px;
}

.advpoll-ranking-table-wrapper td li {
  display: block;
  width: 198px;
  list-style: none;
  float: right;
}

.advpoll-ranking-table-wrapper td label {
  display: block;
  word-wrap: break-word;
  width: 200px;
}

.advpoll-ranking-table-wrapper td .form-item label {
    display: block;
    padding: 0;
    margin: 0 0 5px 0;
    width: 210px;
    float: right;
}

.advpoll-ranking-wrapper ul.selectable-list label a,
.advpoll-ranking-table-wrapper td .form-item label a {
    float: right;
}

.node-advpoll .run-off-poll {
    margin: 0;
}

.node-advpoll .run-off-poll ol {
   margin: 0;
   padding: 10px 0 10px 30px;
}

.run-off-poll caption {
    text-align: center;
}