/***
 * Styles for the Recommendation feedback section
 */

/* float field labels */
#content-area > div.node-type-trust-referral div.field-label {
    float: left;
    margin-right: 0.5em;
}

/* inline field items */
#content-area > div.node-type-trust-referral div.field-label + div div {
    overflow: hidden;
}

