/** Warmshowers-specific ***/ 
/**
 * Autocomplete. (from garland's style.css to see if it fixes offset problem)
 */
#autocomplete li {
  cursor: default;
  padding: 2px;
  margin: 0;
}


h1 {
  font-size: 1.3em;
}
.node div.taxonomy {
  padding: 0;
}
/* for the front page pictures */
  /*** Handle front-page pics of members ***/
.mempics {
  list-style-type: none;
}

#header {
  height: 120px;
  width: 100%;
}
#container {
  width: 100%;
  text-align: center;
  border: 1px solid black;
  margin: 2px;
  background: #FFFAF0;
  
}

a.feed-icon {
  width: 16px;
  height: 16px;
}



.mempics li {
  float: left;
  width: 150px;
  // border: 1px solid black;
  padding: 0px;
  margin-right: .5em;
  margin-bottom: .5em;
  text-align: center;
  overflow: hidden;
}

#header .mempics img {
  display: block;
  height: 120px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#pictures {
  width: 700px;
  margin:0 auto;http://es.wad6.warmshowers.org/admin/settings/performance
}

.slogan {
  font-style: italic;
  font-size: large;
}

/* Make table cells align on top, especially in the user profile referrals */
td.views-field {
  vertical-align: top;
}



td#home {
  background: none;
}
#main {
  background: none;
}
.user-profile .picture {
  border: 1px solid black;
  padding: 1px;
  float: right; /* LTR */
  margin: 0.5em;
}

/* Clean up the blocks, especially with the tips block */

.block .node h1 { font-size: 1.2em; }
.block .node .content { font-size: 1em; }
.block .node .taxonomy { padding: 0; }
.block .content {padding: 0; }
  
  
/**** For imagecache, thumbnail, etc. ***/
div.field-field-contest-photo 
div.field-items 
div.field-item
{
margin: 10px;
display: inline;
height:100px;
width:100px;
}
div.field-field-contest-photo img {
padding: 1px;
border: 2px solid black;
}

 