/**
 * @file
 * Styles for uc_product module.
 */

.product-image {
  clear: left;
  float: left;
  margin-left: auto;
  margin-right: 4px;
  padding-left: inherit;
  padding-right: 4px;
}

.display-price {
  clear: left;
  float: left;
  padding-left: inherit;
  padding-right: 4px;
}

.model {
  margin-right: auto;
  margin-left: 2em;
}

.add-feature div {
  padding-right: inherit;
  padding-left: 1em;
}
