/**
 * @file
 * Styles for uc_file module.
 */

.download-table-row {
  vertical-align: top;
}

.download-table-index {
  display: inline;
}

.download-table-index .form-item {
  display: inline;
}

.duration  {
  display: inline;
  white-space: nowrap;
}

.duration .form-item {
  display: inline;
  white-space: nowrap;
}

.uc-file-directory-view {
  font-style: italic;
  font-weight: bold;
}
